[2018-11-30 20:16] lgray opened #2 "Add .csv and .json interpretation to weights extractor"
Read b-tag scale factor CSV file, JEC json into useful internal structure.

[2018-11-30 20:20] lgray opened #3 "Add JEC and b-tag SFs to weights evaluator"
Make a nice evaluator syntax for b-tagging (should be same as histograms) and also for applying Energy Corrections and Smearings.

[2018-12-06 10:40] lgray commented on #2
Partially addressed for b-tagging by https://github.com/CoffeaTeam/fnal-column-analysis-tools/pull/9

[2018-12-06 10:40] lgray commented on #3
Partially addressed for b-tagging by https://github.com/CoffeaTeam/fnal-column-analysis-tools/pull/9

[2018-12-07 11:22] lgray commented on #2
Finished addressing this in #10.

[2018-12-07 11:25] #2 closed, assigned to nobody

[2018-12-07 12:00] nsmith- opened #11 "Weights extractor should read uncertainties from histograms"

[2018-12-09 17:08] lgray commented on #3
Progress being made on JECs here: https://github.com/lgray/CoffeaMaker/blob/master/jec_work.ipynb

Understand the parsing, now to make the evaluator.

[2018-12-09 19:48] lgray commented on #3
Pull request to address the JEC part of the issue in #12.

[2018-12-13 22:10] #3 closed, assigned to nobody

[2018-12-13 22:10] lgray opened #15 "JECs need validation against the official implementation"
Validate our JEC implementation against: https://twiki.cern.ch/twiki/bin/viewauth/CMS/JERCReference

[2018-12-13 23:23] lgray opened #17 "Make JER evaluator / smearer to complement JEC"
Name says it all.

[2018-12-13 23:26] lgray opened #18 "Implement concise gen-matching / cross-cleaning in JaggedCandidateArray"
Not being addressed in the current PR want to close out a new release.

[2018-12-13 23:26] lgray commented on #18
@areinsvo @mcremone if you wanna try your hand at this, please give it a go.

[2018-12-14 20:11] lgray opened #20 "Gen-particle parent finding without loops"

[2018-12-15 00:21] lgray opened #21 "Implement MET Corrections"

[2018-12-15 00:22] lgray opened #22 "Implement good-run-list from JSON (make sure we can mask a Jagged array with it too)"

[2018-12-15 00:22] lgray opened #23 "Implement JEC systematics"

[2018-12-18 22:08] mcremone commented on #21
Do you have a reference in how this is done in bacon?

[2018-12-18 22:10] mcremone commented on #21
JetMet corrector for NanoAOD to be used as reference: https://gitlab.cern.ch/mcremone/NanoTrees/blob/master/python/helpers/jetmetCorrector.py

[2018-12-18 22:15] mcremone commented on #18
Just to help myself remembering, this is the description from Jim on how to do gen-reco matching with awkward arrays:

 I'd like to show what a combinatoric problem like gen-reco matching involves. Something as common as this should probably get wrapped up as a user-callable function, but here's what it looks like in raw array manipulation.

First, we need some particles to match. I made an incred

[2018-12-20 14:44] lgray commented on #23
This was partially addressed in #24 but some remaining things are needed, specifically working out the analysis level specifics.

[2018-12-20 14:46] lgray commented on #17
This was partially addressed in #24 but some remaining things are needed.
This depends on #20 so that we can implement the deterministic smearing for well-matched jets.
The final transform from looked-up SF values to updated jet energies is also needed.

[2018-12-20 14:49] lgray opened #27 "Yet another histogramming standard"
* Stack pretty stack plots
* The errors bars should be correct
* Should be able to read in from and output to uproot.
   * Maybe pandas and other things too

[2018-12-20 14:50] lgray opened #28 "Factorized jet corrector"
Wrapping layer on top of lookups to derive scaled jet pT values, update candidates.

[2018-12-20 14:50] lgray commented on #27
Being addressed in #26

[2018-12-20 14:54] lgray commented on #21
@mcremone This may depend on #17, #23, and #28. IIRC there's some jet smearing and stuff done when making the MET systematics.

We should follow the JME pog recipe to the fullest extent.

[2018-12-20 21:55] areinsvo commented on #18
First attempt at this is found in the GenJetMatching branch (sorry for not following the branch naming conventions)
https://github.com/CoffeaTeam/fnal-column-analysis-tools/blob/GenJetMatching/fnal_column_analysis_tools/analysis_objects/JaggedCandidateArray.py

A few comments:

- There are two functions, match() and argmatch(). Call them with gen.match(reco,0.3) or gen.argmatch(reco), where gen an

[2018-12-20 21:56] lgray commented on #18
@areinsvo can you make a PR for that branch?

[2018-12-21 00:01] nsmith- commented on #27
uproot doesn't yet support output, I will make a pyROOT exporter (which in principle should only `import ROOT` if you call that function)

[2018-12-21 00:07] lgray commented on #27
I thought Jim had some apparatus in histbook writing out root or root-via-pandas compatible stuff?

[2018-12-21 00:08] nsmith- commented on #27
@jpivarski is this a current or planned feature? (writing TH1, TH2 I guess would be sufficient)

[2018-12-21 00:36] jpivarski commented on #27
This is the mapping from Python objects to ROOT objects: https://github.com/scikit-hep/uproot-methods/blob/master/uproot_methods/convert.py

It refers to such functions as `uproot_methods.classes.TH1.from_numpy`. This is the beginning of conversion code, with "uproot bags" (objects with attributes that have `._f*` names) as the intermediate format. Eventually, this will be replaced by https://gith

[2018-12-27 17:43] lgray opened #31 "Add arbitrary selection function to match/argmatch"
Extend #29 to allow any sort of of matching function to be passed in.

[2018-12-28 13:42] #27 closed, assigned to nsmith-

[2018-12-28 13:43] #20 closed, assigned to areinsvo

[2018-12-28 13:43] #18 closed, assigned to lgray, areinsvo, mcremone

[2018-12-28 18:32] lgray commented on #31
Addressed in #30

[2019-01-04 12:44] lgray commented on #28
Addressed in #30

[2019-01-04 12:44] lgray commented on #23
Finished addressing in #30

[2019-01-04 12:45] lgray commented on #17
Addressed in #30

[2019-01-04 20:03] nsmith- commented on #21
Honestly this is best done in NanoAOD/BaconProd.  The JME official recipe is this file: https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/PatUtils/python/tools/runMETCorrectionsAndUncertainties.py
But in principle it is just propagating the JES and JER effects to MET, although the jet collection is cleaned by a nonstandard cut (`L1441` of the above)

[2019-01-07 01:06] nsmith- opened #37 "Migrate to uproot-methods 0.3.3"
Following merge of https://github.com/scikit-hep/uproot-methods/pull/32, do some cleanup in `fnal_column_analysis_tools/lookup_tools/root_converters.py`

[2019-01-07 20:27] nsmith- commented on #37
Fixed in #40

[2019-01-07 20:27] #37 closed, assigned to nsmith-

[2019-01-07 23:59] #28 closed, assigned to lgray

[2019-01-07 23:59] #31 closed, assigned to nobody

[2019-01-08 00:00] #23 closed, assigned to lgray

[2019-01-08 00:00] #17 closed, assigned to lgray

[2019-01-08 19:45] lgray commented on #21
For bacon they just take the type-1 corrections:

https://github.com/DAZSLE/BaconAnalyzer/blob/fead076cfadac4d568002134a7a58a1bce0f1203/Analyzer/src/JetLoader.cc#L270-L286

[2019-01-09 19:17] lgray commented on #22
@mcremone Any progress on getting this out?

[2019-01-11 16:57] lgray opened #42 "Uniformized data processing interface for striped and uproot"
@nsmith- is already working on this

[2019-01-11 16:58] lgray opened #43 "Update matplotlib plots in place in notebooks"
@nsmith- is already working on this

[2019-01-11 17:05] lgray opened #44 "Start creating boilerplate for the wiki"
Start creating a WIKI for this software package as it has become reasonably complex.

[2019-01-23 18:24] lgray commented on #42
Addressed in #45

[2019-01-23 18:24] #42 closed, assigned to nsmith-

[2019-01-23 22:48] nsmith- opened #47 "Add plotting tests"
Following https://matplotlib.org/devel/testing.html#writing-an-image-comparison-test

[2019-01-23 22:52] nsmith- commented on #43
This was addressed in #45 although the user code is not listed anywhere. Here's an example:
https://github.com/nsmith-/coffea/blob/bc61445fdc17843d5c3355edf54724b7e1a3c846/notebooks/zpeak.ipynb (cell 9)

[2019-01-23 22:55] lgray commented on #43
Ah, didn't catch it. Thanks!

[2019-01-23 22:55] #43 closed, assigned to nsmith-

[2019-02-22 15:59] nsmith- opened #52 "Change in uproot-methods THn"
Following https://github.com/scikit-hep/uproot-methods/pull/42 a breaking change is made that should propagate to `lookup_tools`
No release cut yet.

[2019-02-22 17:17] lgray commented on #11
added in #51

[2019-02-22 17:17] #11 closed, assigned to nobody

[2019-02-22 17:25] nsmith- commented on #22
Ah I did this for the Z peak at some point.  It is here: https://github.com/CoffeaTeam/fnal-column-analysis-tools/blob/master/fnal_column_analysis_tools/lumi_tools/__init__.py#L36
Did not investigate using jagged methods to perform lookup.  Its reasonably fast as-is

[2019-02-22 17:31] lgray commented on #22
Ah, thanks. Yeah, I haven't minded the issues in a bit. Many have been solved.

This was added in #45

[2019-02-22 17:31] #22 closed, assigned to mcremone

[2019-02-22 17:31] lgray commented on #52
Fixed in #54

[2019-02-22 17:31] #52 closed, assigned to nobody

[2019-03-16 15:02] lgray opened #60 "Weights discussion"
Continuing the discussion from #59  that doesn't belong there.

[2019-03-16 19:25] mcremone commented on #60
@areinsvo yes, that's exactly what I mean, thanks for summarizing it far better than I did :)

@lgray regarding "we cannot pass jagged arrays to numpy.searchsorted", yeah we know and in fact I think that @areinsvo meant that we should do "something" to make this work even when we have jagged arrays, to go around this limitation.

But if I understand correctly this other statement "If a jagged arra

[2019-03-16 19:38] lgray commented on #60
@mcremone It's in the base class.

https://github.com/CoffeaTeam/fnal-column-analysis-tools/blob/master/fnal_column_analysis_tools/lookup_tools/lookup_base.py

Search sorted doesn't belong in awkward, my opinion. I don't think we're ever going to have jagged bins in each event with a jagged set of values to look up, i.e. the weight table itself is never jagged.

The only thing that is jagged are t

[2019-03-16 21:21] nsmith- commented on #60
There is a broad class of non-ufunc numpy functions that cannot upcast to awkward arrays because the numpy library does not have hooks to pass control up to the derived type, as it does for [ufuncs](https://docs.scipy.org/doc/numpy-1.14.1/neps/ufunc-overrides.html).  The options are either to implement manually an `awkward.func` for every `numpy.func` that we can think of, or handle case-by-case i

[2019-03-16 21:30] nsmith- commented on #60
One attractive option is to isolate the boilerplate into awkward.  In fact a full-depth `flatten()` (in addition to the current one-level-at-a-time version) and a companion `reconstitute()` function would provide a general solution.  For non-ufunc operations that can accept a `where` syntax, there is room for some optimization as well by returning an appropriate mask to view the underlying content

[2019-03-18 14:47] jpivarski opened #61 "ZIP files through XRootD"
@lgray @nsmith- We've talked about the need to access NPZ (and other ZIP) files through XRootD offline; here's the start of a discussion about that.

Python's `zipfile` module can accept any object as a "file," as long as it supports the file-like protocol. Unlike `MutableMapping` and such, the file-like protocol wasn't formalized in `collections.abc`, so I did a test to figure out what methods it

[2019-03-19 04:06] nsmith- commented on #61
I'm not aware of any partial-write-flushable usage of xrootd, especially since many of the underlying filesystems (notably hdfs) do not even support that.  But for read, should be doable.

[2019-03-19 12:01] jpivarski commented on #61
You might not be interested in write anyway; I included it for completeness.

But you could implement it by accumulating writes to a buffer (`io.BytesIO`) and actually writing to pyxrootd when `flush` is called.

[2019-03-19 18:23] lgray opened #62 "Convert dense_evaluated_lookup to use horner-form polynomials instead"
All b-tagging scale factors are horner-form polynomials of order six.
Sometimes orders are just omitted.
It's faster to use numpy than the python loop that here's right now.

[2019-04-12 22:49] nsmith- opened #69 "awkward-numba fails unit tests"
Presumably after the large update in [awkward-array 0.9.0](https://github.com/scikit-hep/awkward-array/releases/tag/0.9.0)

[2019-05-20 19:12] lgray commented on #69
Since awkward.numba doesn't have tables yet we're stuck here until it's implemented.

[2019-05-29 01:40] aminnj opened #85 "possibly make preprocessing step more lazy"
I was playing around with these tools and some local NanoAOD based on the example notebook with a `DimuonProcessor` and `processor.run_uproot_job`. The preprocessing step was taking a while since I have a large number of files and I only wanted to test one or two chunks, so I made a couple of additions in https://github.com/aminnj/fnal-column-analysis-tools/commit/61108df7fa72b12ca538ebda307200d9c

[2019-05-29 02:02] nsmith- commented on #85
The usage of a threadpool for `numentries` is a really good idea.
For lazy chunking, it looks good, I suppose this is restricted to when the user wants to test a small number of files initially?
Feel free to PR and we can continue to discuss there.

[2019-05-29 02:15] aminnj commented on #85
Yes, mainly for small scale tests.
PR here: https://github.com/CoffeaTeam/fnal-column-analysis-tools/pull/86

[2019-05-29 13:14] lgray opened #87 "Enable various executors to operate in memory constrained environments"
A side-thought from #85.

Use lazy arrays to stay within some memory usage bound, so that we can always comfortably fit in batch slots when using uproot.

There's chunksize, the number of events per job that's reasonable and then either a cache when reading from uproot with lazy arrays (sub-chunking?), or some way to track how much memory is being used by awkward arrays / numpy?

[2019-05-29 13:20] nsmith- commented on #85
Fixed in #86

[2019-05-29 13:20] #85 closed, assigned to nobody

[2019-05-29 20:54] kpedro88 opened #90 "Different interfaces for hist.rebin() and hist.group()"
[code]
vs.
[code]

Since these are conceptually similar operations, ideally the order of arguments would be the same (old_axis, new_axis, ...).

[2019-05-30 18:19] kpedro88 opened #91 "Pythonic interface for add_weight_sets"
Rather than taking a particular space-separated string, `add_weight_sets()` could take a list of dicts, each with the appropriate parameters for `add_weight_set()`. Alternatively, a namedtuple could be used.

[2019-05-30 19:29] nsmith- commented on #90
100% agree, I was trying to pay attention to things like this but missed it.  I'll see how much code it breaks before implementing, although as we're in pre-v1.0 I could in principle change it.

[2019-06-07 14:15] aminnj opened #96 "iterative_executor crashes"
I think because of https://github.com/CoffeaTeam/coffea/blob/1b0b8fac4ce0d774e4c8785a2c43188b95c12667/coffea/processor/executor.py#L116
and
https://github.com/CoffeaTeam/coffea/blob/1b0b8fac4ce0d774e4c8785a2c43188b95c12667/coffea/processor/executor.py#L130,
https://github.com/CoffeaTeam/coffea/blob/1b0b8fac4ce0d774e4c8785a2c43188b95c12667/coffea/processor/executor.py#L30 will fail. Adding `workers

[2019-06-07 14:25] nsmith- commented on #96
ack yes, anyway `workers` in the context of futures executor can and should be different from the number of parallel threads used to preprocess the files (and compute the chunking)

[2019-06-07 14:49] lgray commented on #96
I'll supply a PR and some tests in 1 or 2 hours, unless you wanna do it @nsmith-.

[2019-06-07 15:04] aminnj opened #97 "make progress of futures based on callbacks"
Would there be opposition to changing
https://github.com/CoffeaTeam/coffea/blob/1b0b8fac4ce0d774e4c8785a2c43188b95c12667/coffea/processor/executor.py#L43-L51
into
[code]
which relies on callbacks instead of polling every 1s (I guess this saves 1/2 sec on average). Also, `as_completed` can take a timeout parameter.

If you think it's useful, I can make a small PR later today.

[2019-06-07 15:09] lgray commented on #97
@aminnj yeah I use as_completed for spark and parsl. It would be nice to uniformize the code a bit.

If you wanna give it a go, please do. If you'd rather I roll it into the PR I'll take care of for #96, once I'm off this bus, that's fine too.

[2019-06-07 15:18] aminnj commented on #97
Turned out it only took a couple mins so I put in a PR (I thought I had screwed up my setup earlier because of the repo name change :) ). If you want to lump it with the other change, go ahead.

[2019-06-07 16:14] lgray commented on #97
Sure, I'll grab the commit from your PR in a bit.

Thanks!

[2019-06-07 16:21] nsmith- commented on #97
Please don't, there's a good reason not to use as_completed.  It queues up the incoming results *in the order of execution* so if one job stalls and the others continue, the queue will fill up with results.  If the result package is large the driver will run out of memory.  I originally used as_completed but moved away from it due to running into this problem.

[2019-06-07 16:25] nsmith- commented on #97
That being said, I would prefer a callback but unless one exists that doesn't guarantee the order of results matches the order of executor submission, I would highly advise against it.

[2019-06-07 16:28] lgray commented on #97
Thanks for the heads up. Will leave as is. I'll try out what you're doing with spark / parsl.

[2019-06-07 16:33] nsmith- commented on #96
Sounds like you're on it, thanks!

[2019-06-07 17:50] aminnj commented on #97
Sorry I'm a bit confused. I thought the iterator returns futures for things that complete first without regard to the order in which they were `executor.submit`ted based on
[code]
so that if one future takes forever, the others will have been aggregated by the time that one finishes

[2019-06-07 18:38] nsmith- commented on #97
Hmm that's pretty convincing evidence.  Maybe what I was seeing was that `as_completed` kept a reference to the future, preventing garbage collection?  All I know is that I saw linear memory growth with large processing.  Certainly there might be other causes.

[2019-06-07 18:46] nsmith- commented on #97
Yeah, it keeps a reference for too long:
[code]

[2019-06-07 18:49] nsmith- commented on #97
Now, as I learned the hard way, `__del__` is not guaranteed to be called in python, but my prior experience leads me to believe this accurately represents the lifecycle of the `ReturnItem`

[2019-06-07 18:51] lgray commented on #96
@aminnj Fixed in #99 and v0.5.1 of coffea.

[2019-06-07 18:51] #96 closed, assigned to nobody

[2019-06-07 18:52] lgray commented on #97
Gonna reopen this since you're chewing on it.

[2019-06-07 19:02] nsmith- commented on #97
Ok, you can also see from the source that it keeps a reference to `fs` for the duration of the function: https://github.com/python/cpython/blob/f85af035c5cb9a981f5e3164425f27cf73231b5f/Lib/concurrent/futures/_base.py#L200

So yeah, best to avoid this.

[2019-06-07 19:06] aminnj commented on #97
Ah, interesting. thanks, that was instructive!

[2019-06-09 23:34] kratsg opened #104 "coffea interface with pyhf - statistical inference"
/cc @matthewfeickert @lukasheinrich

**Is your feature request related to a problem? Please describe.**

Feature request.

**Describe the solution you'd like**

An interface/way to export to the pyhf JSONs to perform binned statistical fits (should work for anything that allows you to make histograms basically). The pyhf workspaces follow the schema (v1.0.0) defined here: https://diana-hep.org/pyh

[2019-06-09 23:37] kratsg commented on #104
There's a couple of ways one could approach this:

- depend on pyhf for the exporting, and provide a `coffea.stats.export('pyhf')` which returns a `pyhf.Model` or `pyhf.Workspace` instance. This is more what numpy+scipy tends to do.
- rely on the existence of the pyhf JSON schema specifications and dump the JSON (or python dictionary) that validates against the schema specification and leave it up

[2019-06-10 03:44] lgray commented on #69
For right now we test awkward numba in the older versions of awkward / uproot(-methods).
At the very least we make sure it continues to work properly there.

Until Jim makes gets awkward.Table into the new awkward numba we can't really use it.

[2019-06-12 22:09] nsmith- commented on #97
Closing, as it sounds we're all in agreement now.

[2019-06-12 22:09] #97 closed, assigned to nobody

[2019-06-17 12:59] lgray opened #113 "Take advantage of uproot(-methods) profiles."
**Is your feature request related to a problem? Please describe.**
Uproot has added a [feature](https://github.com/scikit-hep/uproot-methods/pull/58) which assumes a large chunk of the functionality of JaggedCandidateArray or Initializer/Builder. In particular uproot-methods from 0.7.0 exposes a nice SoA object-like interface complete with functional cross references among objects.

The features o

[2019-06-17 13:31] lgray opened #114 "Update coffea to be compatible with latest versions of awkward."
There are failures in Initializer/Builder and the old striped package (maybe we just get rid of it anyway?)

If possible, fixes should be backwards compatible with older uproots.

[2019-06-17 14:34] lgray commented on #114
The failure in builder is actually an awkward-array bug!

[code]

fails like:
[code]

[2019-06-17 18:19] afrankenthal opened #115 ""cannot allocate memory" error on LPC when following documentation example"
I copied the first 4 blocks of code from the [documentation](https://coffeateam.github.io/coffea/coffea-introduction.html) onto a jupyter notebook running on LPC nodes. Whenever I try to execute run_uproot_job, I get a "cannot allocate memory" error. After some initial debugging, I've updated all the dependencies to the latest versions but the error persists. I also tried with two different users

[2019-06-17 18:54] lgray commented on #115
@afrankenthal Hey, thanks for posting this. Can you try putting the rest file into eos and reading through xrootd? It seems like there may be something funny with mmap on the LPC.

Similarly, can you try this on slc7 to make sure it's not slc6 specific?

[2019-06-17 19:33] afrankenthal commented on #115
@lgray slc7 didn't make a difference but putting the input files on EOS does seem to do the trick! I tried both iterative and future executors and both worked. Last week I had tried my own files on EOS and was getting a different error (because of my own misunderstanding) but it masked the mmap issue on the LPC.

[2019-06-17 19:50] lgray commented on #115
@afrankenthal OK, interesting that the error remains on both. Can you try it quickly on your laptop to see if it functions there? Just trying to map out where things work and where they don't.

Good that local at the LPC functions!

[2019-06-17 20:41] mcremone opened #117 "Create a single job per multiple files when running with parsl"
Modify derive_chunks:
https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/parsl/detail.py#L52
so that if n-entries < chunksize it will grab files together until it's larger than the chunksize.

Need also to take care of the fact that some 'items' that are returned by get_chunking might be a list of files rather than a single file string.

[2019-06-17 21:16] afrankenthal commented on #115
Ok, here's the summary so far:

- LPC:
  - sl6:
    - local: **"cannot allocate memory"**
    - xrootd: **works**
  - sl7:
    - local: **"cannot allocate memory"**
    - xrootd: **works**
- macOS:
  - Sierra (10.12):
    - local: **works**
    - xrootd: **works**

[2019-06-17 22:50] nsmith- commented on #115
Nice test matrix!
To add, I reconfigured coffea to use different uproot sources:

- MemmapSource from NFS mount: **cannot allocate**
- MemmapSource from EOS mount: **cannot allocate**
- MemmapSource from `/tmp` mount: **cannot allocate**
- FileSource from NFS mount with `parallel=None`: **ok**

The strange thing is the total size of files is ~7 GB but `htop` shows _virtual_ memory usage per proces

[2019-06-17 23:09] nsmith- commented on #115
Yeah, so mmap does not alias, even when they're all read-only.  Even though the memory is _virtual_, it still counts against the virtual memory limit in the OS, namely `ulimit -v`. (16 GB on LPC)
Hence for some suitable choice of `i`,
[code]
will cause `OSError: [Errno 12] Cannot allocate memory`

Amusingly, on my mac, `ulimit -v` returns `unlimited` :sunglasses:

[2019-06-17 23:16] nsmith- commented on #115
Since we iterate in chunks over the files, we rely on python to quickly garbage-collect the memmaps.  Since python makes no guarantee about how quickly it does so, occasionally the memmaps will stay around too long and produce OOM errors.
There's no way to share a memmap across the process pool either, as far as I can tell.

[2019-06-17 23:20] afrankenthal commented on #115
Interesting! Is there a way to estimate a safe max chunk size such that it will be unlikely to produce OOM? Though that will depend on the user system I suppose. My naive guess would be the total memory / number of workers?

[2019-06-17 23:20] afrankenthal commented on #115
Mine also says unlimited! And it's a 2013 macbook air... :)

[2019-06-17 23:23] nsmith- commented on #115
This issue is independent of chunk size.  It depends on the file size itself, and how many `np.memmap()` instances are active in a process at a given time.  I'll add a switch to use the non-memmaped file source for now, and we'll see how that goes.

[2019-06-17 23:24] jpivarski commented on #115
(My Linux ulimit is unlimited also; it's a choice. The disadvantage is the possibility of swapping, something that's more tolerable on user-interface systems than batch processors.)

Do you need a way to explicitly close memmaps? The reason uproot doesn't do that is because accessing the array after closing causes a segmentation fault, and segmentation faults are to be avoided at all costs in Pyth

[2019-06-17 23:31] nsmith- commented on #115
I wouldn't want to close/open at each access, that sounds like too much syscall.  This is probably another instance where `with` semantics solve the problem nicely.  I would wrap the whole file processing in a `with` block and then it can be guaranteed to be cleaned up at the end.

However, I think the unfortunate fact that there is a rather low `ulimit -v` at LPC means that mmap users will often

[2019-06-17 23:44] jpivarski commented on #115
Perhaps it could have its current behavior in the absence of a `with` block (none of my tutorial or documentation examples encourage `with` semantics of uproot files) and _if_ somebody uses a `with` block (a `ROOTDirectory` gets an `__exit__` call, [currently pass-through](https://github.com/scikit-hep/uproot/blob/master/uproot/rootio.py#L356)), _then_ it would do the new behavior of close on `dis

[2019-06-17 23:49] nsmith- commented on #115
I think if an `__exit__` is called on `ROOTDirectory`, no further interaction should be allowed with it.

Regarding the last point, NFS is mmap-able, I don't think this issue depends on the filesystem.  At least the three types I tried all had the same behavior.

[2019-06-17 23:59] jpivarski commented on #115
Oh, I'd heard that NFS isn't mmap-able, and I thought you just confirmed it above.

Then the new behavior would be `ROOTDirectory.__exit__` closes the mmap (maybe set its `_source` to `None`) and subsequent calls to `data` check for closed and raise an exception with a proper error message. The important thing is that it is protected against segmentation faults. (That's another good argument for `

[2019-06-18 01:42] lgray commented on #114
Fixed in #116

[2019-06-18 01:42] #114 closed, assigned to lgray, nsmith-, areinsvo, mcremone

[2019-06-18 01:45] lgray commented on #115
@jpivarski what would be the appropriate package to test against this in? coffea seems to high-level but it's also an entry point to a growing number of people.

[2019-06-18 02:10] jpivarski commented on #115
What I was thinking was to run your standard suite on LPC with a custom uproot that closes memmap files.

The first thing we could try is the `dismiss`/`data` pair (a non-default parameter to `uproot.open` that eagerly closes memmaps). @nsmith- was concerned about the number of system calls, but it's not obvious to me that it would be a bottleneck. Your LPC test suite would have to explicitly set

[2019-06-18 03:03] nsmith- commented on #115
Well since the source base class has `close()` I went ahead and added a `file.source.close()` call after processing the chunk and that makes sure only one mmap per process is active.  This alleviates the issue.  Comparing mmap to non-mmap, there isn't really any performance difference with the lazy fetching.

[2019-06-18 12:06] jpivarski commented on #115
I forgot that `MemmapSource.close` [was in there](https://github.com/scikit-hep/uproot/blob/master/uproot/source/memmap.py#L33-L34). At the very least, I need to follow `self._source._mmap.close()` with `self._source = None`.

The reason I wanted to try a test with `dismiss`/`data` closing and reopening memmaps is because I won't know if it's a scalable solution until I see what happens in your bi

[2019-06-19 20:11] lukasheinrich opened #119 "support dataset-specific treenames"
in some workflows (ATLAS) the input to coffea are TTrees where the files have variable names

one naming scheme is e.g. names by dataset

[code]

it would be really nice to be able to declare such an input to coffea

[2019-06-24 14:18] kratsg opened #122 "Matching function factory"
**Is your feature request related to a problem? Please describe.**

Feature request to improve code interface.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

No alternatives considered. I'm pretty stubborn.

**Additional context**

This makes it a bit more flexible and is very similar to how fastjet defines these things. This would also make the interfa

[2019-06-25 06:25] #115 closed, assigned to nobody

[2019-06-28 13:05] andrzejnovak commented on #90
If this is revisited, could we also have an alternative syntax, where the axis would be created implicitly by just specifying the new binning?

[2019-06-28 21:50] andrzejnovak opened #130 "Add remove function for Axis (and simplify syntax)"
**Is your feature request related to a problem? Please describe.**
"I'm always frustrated when [...]" slicing/grouping/rebinning/removing syntax is not intuitive. Related to https://github.com/CoffeaTeam/coffea/issues/90#issuecomment-506726597

Take rebin, currently
[code]
In reality most likely use case is only a change to the binning, so rebin would save a good chunk of duplication by allowing:

[2019-06-29 00:40] annawoodard opened #131 "Timeout SIGALRM kills Parsl workers"
The timeout decorator [here](https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/parsl/detail.py#L51) is resulting in a SIGALRM being raised which kills the worker running the task.

Here is a minimal reproducible example of the error:
[code]

The expected behavior is for two `FIRST BATCH` tasks to complete successfully and one to fail, then two `SECOND BATCH` tasks to complete succe

[2019-07-01 21:01] #131 closed, assigned to nobody

[2019-07-01 23:44] jpata opened #133 "Specify a per-module array backend (numpy or cupy) for modules"
**Is your feature request related to a problem? Please describe.**
It can be useful to switch to a GPU-based backend such as cupy on a per-module basis without needing the whole coffea ecosystem to be ported. For example, factorized JEC uncertainty computation is mainly based on `interp1d` and lookups which are highly efficient on a GPU.

**Describe the solution you'd like**
Each module would have

[2019-07-02 22:49] #119 closed, assigned to nobody

[2019-07-09 00:08] lgray commented on #104
@guitargeek So the discussion should sorta start here.
@kratsg - after chewing on this for a bit I am thinking on developing something that mimics the llvm compiler infrastructure model.

I am thinking along this direction because we are not going to convince anyone to use a specific stats tool but we can convince people to write things in a way that lets them use any stats tool. Especially if we

[2019-07-09 13:51] lgray commented on #133
As pointed out, the main thing we need to consider here is that cupy's functionality is not the same as numpy's, especially for sorts and other higher level functions.

Perhaps a reasonable solution can be implemented if we determine the missing functionality of cupy, populating a python file with it and then using that to wrap and otherwise interface with cupy.

There seems to be a bit of hidden

[2019-07-09 14:03] jpivarski commented on #133
In the original plans for awkward-cuda, I was thinking that I'd probably have to wrap CuPy because it might be lacking necessary features. That would be a non-ideal and hopefully temporary solution, though the set of things that need to be wrapped work as a wish-list for the CuPy developers. It looks like you might be running into it before me.

I haven't tried it, but I've heard that Numba is now

[2019-07-09 14:21] andrzejnovak opened #135 "Adding an option to automatically skip failed to read files in processor"
**Is your feature request related to a problem? Please describe.**
Reading xrootd files, sometimes a file or two gets corrupted or just not readable via xrootd temporarily. This currently throws an error possibly wasting time and makes me continuously update the file dictionary I'm feed it.

**Describe the solution you'd like**
Adding a flag to the processor/run_uproot_job to instead skip a file i

[2019-07-09 14:48] lgray commented on #104
@jpivarski if you have anything to add here it'd be super useful for discussion as well!

[2019-07-09 14:56] jpivarski commented on #104
We talked about this yesterday and I thought the "uniform interface to fitters" idea was a good one, particularly if you're targeting large projects like TensorFlow. If you're thinking specifically of HistFitter-style fits, then I'm beginning to think it would be better to defer to pyhf JSON, because that JSON format was intended to be implementation-independent, after all. Is the scope of what yo

[2019-07-09 14:57] lgray commented on #135
@andrzejnovak what error does it throw when it gets a corrupted file? if you can give me an example I can probably cook something up super quick.

[2019-07-09 15:36] andrzejnovak commented on #135
Right
[code]

[2019-07-12 14:09] AndreasAlbert opened #138 "coffea.hist.plot.clopper_pearson_interval gives wrong result for numerator==denominator"
**Describe the bug**
If numerator == denominator, clopper_pearson_interval always returns [1,1] as the corresponding interval.

**To Reproduce**
[code]
**Expected behavior**
I expected to get array([0.69150289, 1.])

**Proposed fix**
This is trivially fixed by changing [this line](https://github.com/CoffeaTeam/coffea/blob/2ae59e8c75fa8e5af9a245e27bd7aa363a4f116b/coffea/hist/plot.py#L66) from
[code

[2019-07-12 15:40] lgray commented on #138
@AndreasAlbert thanks for the catch. Please make a PR.

If you could add a few tests to check this problem and maybe some others in your PR to make sure this error calculator is covered for the future we'd really appreciate it!

[2019-07-12 17:03] #138 closed, assigned to nobody

[2019-07-12 17:57] lgray commented on #138
This fix is now available in 0.6.4 in pypi.

[2019-07-13 20:19] afrankenthal opened #140 "Bitwise operations in Coffea"
As discussed in the last meeting, an interesting use case might be doing bitwise-arithmetic in columnar format. Sometimes I pre-compute fancier cuts when running the ntuplizer over my AOD samples (e.g to use some of the CMSSW libraries), and save each cut into one bit of a uint32_t variable. If there's a way to build cutflows out of those bits this would be very convenient. Perhaps this is already

[2019-07-13 20:36] afrankenthal opened #141 "Saving recHits for columnar processing"
Another interesting use case would be iterating over a recHits collection. In our analysis we try to match two different track reconstruction algorithms based on the ID of the hits in each object. This information is only in AOD (I believe), so right now this gets done at the ntuplizer level. But if it were possible to process it with a columnar approach, then I could maybe add the recHit informat

[2019-07-15 13:37] nsmith- commented on #140
Take a look at `coffea.processor.PackedSelection` in https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/helpers.py#L67
Maybe these helpers should be moved to a more obvious location.

[2019-07-15 21:46] nsmith- commented on #141
Here's another discussion regarding this topic: https://github.com/cms-nanoAOD/cmssw/issues/92#issuecomment-499284307

[2019-07-16 01:48] lgray commented on #141
This issue seems like partially a feature request for for awkward array, partially for encoding in NanoAOD and then finally an implementation of an example for our binder here?

Just trying to factor out the responsibilities.

@jpivarski Couldn't this also be handled with a double-jagged array? If it was handled in a uproot-methods profile could it be made into a pretty slick interface so long as

[2019-07-16 01:55] lgray commented on #140
@afrankenthal Yeah, with a bit of columnar bitwise manipulation you should be able to use a packed selection. It works just like typical bitwise manipulation in python or C++.

If you don't need to collapse any selections together you can probably just toss your packed bytes directly in.

@nsmith- Either a more obvious location or an example in the binder would be sufficient I think? Also add it t

[2019-07-16 12:21] jpivarski commented on #141
You can't put a (native) doubly jagged array on a ROOT file, but you can do the content + offsets you're proposing and then have it converted into a doubly jagged array with no loss in performance.

This sort of thing can be a profile, like the profiles in uproot-methods. There's one profile in there that converts `Muon_pt`, `Muon_eta`, etc. into `muons` that contain `pt`, `eta`, etc. Profiles do

[2019-07-16 12:48] lgray commented on #133
So, rather than a single library being specified we'd need some sort of "software stack" that can be specified as an argument to parts of `coffea`.

It'd need to define the variant of a numpy-like backend, the flavor of awkward to use, as well as any necessary extensions to the numpy library to become feature complete. I suppose it would also have to specify the flavor of numba to use. I am not su

[2019-07-17 05:29] jpata opened #143 "JetMet txt_converters creates invalid jagged array"
**Describe the bug**
Thanks for the nice JME tools! I wanted to report the following issue while I also debug it, perhaps we can find the solution faster :)

`coffea.lookup_tools.extractor` produces an incorrect internal jagged array on the official JME file [Summer16_07Aug2017_V11_L1fix_MC_L2Relative_AK4PFchs.txt](https://github.com/CoffeaTeam/coffea/files/3400289/Summer16_07Aug2017_V11_L1fix_MC_

[2019-07-17 05:43] jpata commented on #133
Thanks both for your thoughts.

@jpivarski I've been able to accomplish everything that was necessary for physics analysis in CUDA so far with `@numba.cuda.jit` kernels (generic, not ufunc-based), not having to drop down to C++ for CUDA code. I'm really surprised at how easy it has been from the compilation and debugging point of view. As an example, here is the `mask_deltar_first` function: https

[2019-07-17 11:45] lgray commented on #143
Thanks for the catch, I'll try to look into this today!

[2019-07-17 16:10] lgray commented on #143
@jpata looking at the JEC file the offending line is this:
[code]

The for eta bin [ 4.363, 4.538] first pT bin is [0.001, 4.13166] and the second is [4.10331, 4.64103] which means the bins are somehow overlapping. Which seems malformed to me?

@aperloff any idea on how this is handled in the standard jetmet code?

[2019-07-17 16:17] aperloff commented on #143
That is highly unusual and shouldn't normally happen. You should send a message to the JERC conveners and tell them that the file is messed up. I'm actually a little surprised it was even possible to make a file like this. However, the standard JetMET code is probably fine because it is looking for monotonically increasing lower bin boundaries, so this will not trip it up.

This is the relevant fu

[2019-07-17 16:19] lgray commented on #143
@aperloff can you explain the latter a bit more?

Do you mean that it contructs bins based only on the low bin edges and the final upper edge or something like that?

[2019-07-17 16:23] aperloff commented on #143
Yes, exactly. When a text file is read in, a map is constructed which contains the lower bin boundaries as keys. When looking for the line that a specific jet corresponds to, it checks the std::lower_bound of each dimension. So the upper bounds are not really taken into account, except for the last one.

[2019-07-17 16:28] lgray commented on #143
Alright cool.

I'll make our code operate in that way, right now I assumed the bin-edges were value equal so I could make a union of the upper and lower edges. This little instance breaks that.

I'll have the code emit a warning when this occurs.

@jpata sound OK?

[2019-07-17 16:33] aperloff commented on #143
In theory you are right, the upper bin edge of one bin should be equal to the lower bin edge of the next. I guess I should have put a check for this in the JetCorrectorParameter code during the initialization step (when the map is being created). You could always add one so that this case doesn't crop up in the future.

[2019-07-17 17:05] jpata commented on #143
Thanks very much for investigating it fast! Having the same behaviour as the CMSSW JME code, along with a warning for unexpected bins, sounds like a great solution. Shall I send this thread to the JME hypernews so they can have a look at the JEC file creation upstream?

[2019-07-17 17:06] lgray commented on #143
Yeah, please send this to JME HN and I'll have a PR to reference as well posted momentarily.

[2019-07-17 18:11] #143 closed, assigned to nobody

[2019-07-18 15:13] lgray opened #145 "Create a coffea users mailing list."
That is administrated by cms-coffea egroup.

[2019-07-18 15:54] areinsvo commented on #145
@lgray I created the cms-coffea-users group and set it to be administrated by cms-coffea. I'm not sure if there is a way to automatically add the members of cms-coffea to the new list.

Let's keep this issue open until I have a chance to advertise the new list and update the documentation.

[2019-07-18 15:55] lgray commented on #145
@areinsvo You can put an egroup in an egroup, and it won't duplicate mails, so just plunk cms-coffea into the members list of cms-coffea-users.

[2019-07-18 17:48] areinsvo commented on #145
I tried but I can't find that option. Since you're in cms-coffea you should be an admin for cms-coffea-users if you'd like to try it. Unless @mcremone can act as the cms-coffea admin and subscribe everyone to cms-coffea-users.

[2019-07-18 17:59] lgray commented on #145
@areinsvo ah, the way I was able to get that to work was with a static egroup (which have a dynamic user list, ???). I'd delete the egroup and reform it as static then it's easier to control the membership. The dynamic egroup membership controls are from some other planet, at least to me.

[2019-07-22 17:16] jpata commented on #15
I wanted to mention here that I cross-checked the results from the JEC (nominal correction, no uncertainties yet) in detail against the JetRecalibrator in nanoaod-tools and got perfect closure!

However, I did notice a small feature in coffea that may lead to unintented consequences:

[code]

will modify the original `raw_pt` vector in place!

[2019-07-22 17:21] lgray commented on #15
@jpata ahh nice bug. I'll patch it up in a bit.

[2019-07-22 18:23] dnoonan08 opened #148 "Log and sqrt functions in btag scale factor formulas"
Functions such as log and sqrt show up in the btagging SF formulas for DeepCSV in 2017 & 2018, which break the extractor.  Using a csv with these types of formulas in the lookup_tools extractor results in a KeyError for 'log' in the make_evaluator step:

[code]

If the log and sqrt functions are replaced in the .csv with np.log and np.sqrt, it works fine.

[2019-07-22 18:26] lgray commented on #148
@dnoonan08 can you point me to some of the files? This can likely be fixed quickly.

[2019-07-22 18:34] dnoonan08 commented on #148
The file I'm using was from here:
https://twiki.cern.ch/twiki/pub/CMS/BtagRecommendation102X/DeepCSV_102XSF_V1.csv

[2019-07-22 19:37] #148 closed, assigned to nobody

[2019-07-22 19:40] lgray commented on #148
@dnoonan08 this is now fixed in master, go ahead and try it. A proper release will appear later today.

[2019-07-24 14:07] andrzejnovak opened #152 "plot1d density argument doesn't work right"
I get taken from left to right by adding `density=True` flag and the y-axis doesn't look like it's normalized to 1 as expected.

<p float="center">
  <img src="https://user-images.githubusercontent.com/13226500/61800245-e842d980-ae2c-11e9-8644-6e04a6764ccf.png" width="300" />
  <img src="https://user-images.githubusercontent.com/13226500/61800186-cd706500-ae2c-11e9-8065-c1770fb025db.png" width="30

[2019-07-24 14:14] lgray commented on #152
@nsmith-  this one is all you :-)

[2019-07-24 16:07] andrzejnovak commented on #152
Actually here's a mre
[code]

with a strange looking output
![image](https://user-images.githubusercontent.com/13226500/61809622-fe0cca80-ae3d-11e9-82f6-af86e7e5e045.png)

[2019-07-24 16:48] nsmith- commented on #152
Well now that I see the x axis, this isn't a bug: the density is a probability density, satisfying the condition that the integral over the support is 1.  Here, indeed 0.0058*(179.99-0.1)~=1

If you are looking for "fraction in bin" semantic, then currently there is no direct support for that in the plotting routine.  A short fix is to pre-scale the histogram: `h.Scale(1/h.sum(*h.axes)[()])`

[2019-07-24 18:28] #152 closed, assigned to nsmith-

[2019-07-29 01:06] #90 closed, assigned to nobody

[2019-07-29 01:06] #130 closed, assigned to nsmith-

[2019-08-05 22:52] phylsix opened #156 "Adding legend settings forwarding to coffea.hist.plot1d"
**Is your feature request related to a problem? Please describe.**
Sometimes the default legend settings are not satisfactory, adjusting them after they are created requires additional code(grouping the handles), but easy to add when constructed, I though it would be convenient to add another kwarg for legend settings when calling `coffea.hist.plot1d`. Or something for this already exists?

**Desc

[2019-08-15 18:24] nsmith- commented on #156
Seems like a reasonable thing to forward.  Is this strictly for legend styling and placement, or also to adjust things like labels?  For the latter, it might be worth knowing that each axis identifier has a `label` property that allows one to override the default legend label (usually the bin name).
e.g.
[code]
and similarly for `Bin()` axis types

[2019-08-15 19:11] phylsix commented on #156
what prompts me to raise this issue is the styling and placement of the legend (multiple columns, outside of ax, etc). Good to know how to change the label of hist axes, thanks!

[2019-08-15 21:19] andrzejnovak commented on #156
For now you can try  to mod the rcParams with styles `plt.style.use({'legend.fontsize':15, "font.size": 20}) `or you might be able to do it with context as `with plt..style.use([cms.ROOT, {'legend.fontsize':15, "font.size": 20}])`

[2019-08-19 18:19] jpata commented on #143
For the record, here is the report to JME: https://hypernews.cern.ch/HyperNews/CMS/get/jes/876.html

[2019-08-23 16:22] AndreasAlbert opened #159 "Sized-ordered stack plots in coffea.hist.plot1d"
**Is your feature request related to a problem? Please describe.**
When creating a typical stack plot using `hist.plot1d(histo, overlay='dataset', stack=True)`, the stacked histograms are drawn in whatever order `histo.identifiers()` delivers them (see [here](https://github.com/CoffeaTeam/coffea/blob/master/coffea/hist/plot.py#L150)).

**Describe the solution you'd like**
I would like to be able t

[2019-09-05 14:59] phylsix opened #160 "is hist.Hist.profile going to be implemented?"
**Is your feature request related to a problem? Please describe.**
I see profile method of class Hist is not implemented currently,
https://github.com/CoffeaTeam/coffea/blob/master/coffea/hist/hist_tools.py#L847

is it still planned to be done? If so, what alternative do you suggest meanwhile? Thanks!

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Add

[2019-09-19 01:30] annawoodard opened #162 "Properly handle case where `data_flow=None` is passed to `run_parsl_job`"
When `data_flow=None` is passed to [`run_parsl_job`](https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/executor.py#L193) with multiple executor_args, the following exception is raised:
[code]

[2019-09-19 13:33] #162 closed, assigned to nobody

[2019-09-19 20:22] annawoodard opened #164 "Fix file-opening hangs with Parsl"
When running `run_parsl_jobs` (as called in [this](https://github.com/annawoodard/coffeandbacon/blob/update-parsl/analysis/baconbits-parsl.ipynb) notebook) at Notre Dame, I encountered file-opening hangs (~several hangs / ~several hundred tasks). The implemented [timeout](https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/parsl/detail.py#L61) is not working as expected in my case. I

[2019-09-19 20:44] #164 closed, assigned to nobody

[2019-10-16 01:51] nsmith- commented on #145
This can be closed, right?

[2019-10-16 05:45] nsmith- commented on #160
I was going to, then I realized it either doesn't belong in coffea or belongs in the plot utils.
Here's a sketch:
[code]
then for a histogram such as the following:
[code]
you get something like this:
![image](https://user-images.githubusercontent.com/6587412/66891154-fb89bf00-efad-11e9-884d-ae856b2b6c16.png)

Options for improving it include computing a KDE, interpolating the CDF, etc.

[2019-10-16 10:12] #156 closed, assigned to nsmith-

[2019-10-16 10:12] #159 closed, assigned to nsmith-

[2019-10-16 10:12] #160 closed, assigned to nsmith-

[2019-10-16 17:33] #145 closed, assigned to areinsvo

[2019-10-16 17:40] nsmith- commented on #140
PackedSelection has some [docs](https://coffeateam.github.io/coffea/api/coffea.processor.PackedSelection.html) now.  But I believe you are asking for a utility to help with interpreting a pre-existing packed selection rather than making a new one.  For that, something needs to be written still.  Nevertheless, you can do bit arithmetic in numpy as easily in C:
[code]
The same procedure works equall

[2019-10-16 17:50] nsmith- opened #180 "Accumulator refactor"
This is a project-tracking issue to refactor the coffea accumulators.  Goals:

- Migrate all accumulator types out of the `processor` submodule
- Remove requirement for an identity
- Enforce minimal copy by restricting add behavior to only in-place `__iadd__`

The second point has been brought up quite a while ago by @jpivarski but it seems much more straightforward now that I'm aware of this nice

[2019-10-17 09:55] lgray opened #185 "Executor refactor"
In light of having three executors, one in PR, with funcX and striped  on the way: we should refactor the executor framework to make it more seamless.

This is a tracking issue for such a refactor.

[2019-10-17 13:48] lgray opened #186 "Implement AlphaTwirl backend for coffea"
After talking with @benkrikler further we have decide to start seeing how FAST-carpenter and coffea can interoperate and where the responsibilities of each of the packages cleave after attempting a few experiments to understand better their domains of usefulness.

On the other side:
The https://github.com/FAST-HEP/fast-carpenter project is going to attempt writing a `coffea.Processor` filled with

[2019-10-17 13:59] lgray opened #187 "Understand applicability of FAST aggregate data manipulations in coffea and spark"
More from talking to @benkrikler:
- FAST has developed a very interesting pandas-based implementation of multidimensional sparse histograms in pandas
- They cover most of the operations that are in coffea histograms and we'd like to understand if they are valid spark dataframes in addition to pandas.
- We will proceed by first doing tests of passing some self-generated fast histograms into spark

[2019-10-18 08:03] lgray commented on #186
Hmm, this may not be needed.

[2019-10-18 21:22] lgray commented on #187
Hmm. First tests run quickly into problems:

[code]

Might be updated in spark3?

Will attempt workaround.

[2019-10-18 21:24] lgray commented on #187
Looks like you can stringify it.

[2019-10-18 22:46] lgray commented on #187
Yeah, so turning the ranges into strings allows one to go in and out of spark, and resetting the indices back to the columns is easy with pandas.

The more sticky part seems to be turning the index-as-column back into an index since the intermediate format of the indices are strings. However the loop back into an pandas.IntervalIndex / CategoricalIndex can be done:

[code]

results in:
[code]

So

[2019-10-19 09:47] lgray commented on #187
A few more additions and I can now reconstruct any numerical MultiIndex.
Trying to find some examples of histograms in FAST with string axes and such (@benkrikler?).

It's a bit kludgey since you need to postfix everything with `_IDX` or some identifier, but again, it works so far.

[2019-10-19 09:50] lgray commented on #187
Eventually I'll stick this in a gist, but for now just tracking things here as I hack.
[code]

[2019-10-20 12:46] lgray commented on #187
So, found some strings as axes and it's a trivial addition. The only think left to check in order to completely establish the loop to and from spark is how systematics are handled in FAST.

[2019-10-20 22:00] lgray commented on #185
Executors should:
- [ ] have a single point of entry for all possible backends (nearly the case except spark)
- [ ] should not be stateful (spark exe currently violates this)
- [ ] allow for specification of arbitrary data processing workflows, default `hists = f(cols)`
- [ ] allow for additional information in input dataset specification beyond vital stats
- [ ] allow for introduction of external

[2019-10-22 17:08] jpata opened #191 "JER SF"
**Describe the bug**
Latest CMS JER SF files bin the scale factor in Pt and Eta, but bin indices are not produced in the correct 1d format [here](https://github.com/CoffeaTeam/coffea/blob/master/coffea/lookup_tools/jersf_lookup.py#L90). One option could be that `jersf_lookup._parms` should be a jagged array, instead of a flat array.

**To Reproduce**
Can be reproduced using the unit test here: htt

[2019-10-22 17:13] lgray commented on #191
OK - it shouldn't be too bad to add jagged binning in for this.

Thanks for finding it!

[2019-10-22 17:22] jpata commented on #191
I'll see if I can introduce jagged arrays to the JER based on the existing JEC code!

[2019-10-22 21:18] lgray commented on #191
Fixed in #190

[2019-10-22 21:18] #191 closed, assigned to nobody

[2019-11-01 16:51] AndreasAlbert opened #197 "hist.fill kwargs not guarded"
**Describe the bug**

The histogram fill function can be called with arbitrary keyword arguments. Unless there are very strong reasons for this, I think it is dangerous. A simple typo can send optional arguments like `weight` into a void.

**To Reproduce**
[code]

**Expected behavior**
Fill should raise an exception if an unknown kwarg is provided.

[2019-11-01 17:05] AndreasAlbert commented on #197
ok, filing this as a bug rather than a feature request may have been an emotional overreaction on my part ;) Feel free to reclassify

[2019-11-02 05:50] nsmith- commented on #197
I imagine this behavior was noticed after much pain... so lets call it a usability bug.

[2019-11-05 14:37] #197 closed, assigned to nsmith-

[2019-11-19 17:23] jrueb opened #205 "coffea.lookup_tools.evaluator for CMS BTV weights does not have a jet flavor dependence"
**Describe the bug**
The coffea evaluator for CMS BTV weights depends on pt, eta and discriminator value, while it should also depend on jet flavor.

**To Reproduce**
To reproduce, one can use the following
[code]
It prints the string "3 dimensional histogram", leaving no room for a jet flavor dependence.

[2019-11-19 17:34] nsmith- commented on #205
It's in the key name:
`{taggerName}_{workingPoint}_{sfTechnique}_{systematic}_{jetType}`
where working point is an enum of loose, medium, tight, and jetType is 0=b 1=c 2=udcsg.  I might ask @dnoonan08 to confirm these are the indices.

[2019-11-19 17:35] nsmith- commented on #205
That said, clearly one wants to vectorize the evaluation over the jet `hadronFlavor` column, so perhaps this should be changed.  For now, one can evaluate each separately and use in-place masked assignment to collate the results. Note if these are jagged arrays, its a bit more complicated, here's an example
[code]

[2019-11-19 17:59] jrueb opened #206 "Exception when using coffea.lookup_tools.extractor on DeepJet CSV file"
**Describe the bug**
When trying to open the DeepJet CSV file of the CMS BTV with a coffea extractor, an exception is raised.

**To Reproduce**
To reproduce, one can use the following
[code]
It raises an IndexError. The parser seems to expect a semicolon in the header, while there is none for the DeepJet CSV files. The semicolon is present in DeepCSV CSV files.

[2019-11-19 18:19] lgray commented on #206
@jrueb Can you give a url to that csv file? I'll cook a fix.

[2019-11-19 18:38] jrueb commented on #206
The CSV file can be found here https://twiki.cern.ch/twiki/pub/CMS/BtagRecommendation102X/DeepJet_102XSF_WP_V1.csv

[2019-11-19 18:40] lgray commented on #206
Thanks, I'll patch it up in a bit.

[2019-11-19 20:13] #206 closed, assigned to nobody

[2019-11-19 20:16] lgray commented on #206
@jrueb This is fixed in coffea `0.6.18` which will is available now in master from github or on PyPI in about an hour.

[2019-11-19 20:23] mat-adamec opened #208 "Error when handling a cross()"
I've had an analysis running successfully on a few datasets. I'm now trying to scale it up to include others, but Coffea seems not to like the most recent one I've added. I can't parse what the error is saying, aside from it coming from a point where I use the cross() function.

Unfortunately, I've been having trouble trying to reproduce it outside of my analysis, so I'm not sure what else to prov

[2019-11-19 20:27] lgray commented on #208
@mat-adamec can you make a minimal example of this using JaggedCandidateArray?

[2019-11-19 20:27] lgray commented on #208
@mat-adamec and does this problem persist with the latest versions of `coffea` and `awkward-array`?

[2019-11-19 21:42] mat-adamec commented on #208
It appears to be running fine after an update!

[2019-11-20 08:41] jrueb commented on #205
Besides the flavor evaluation not being vectorized, I also think it is very suboptimal to concatenate all the information into one long string. It only works if you know exactly what you're looking for. If that's not the case, you're required to construct a workaround with regular expressions or something similar.

For example, I can not be sure what `taggerName` is, especially after #207. Then th

[2019-11-20 13:35] jrueb opened #210 "Allow plot1d to use markers correctly"
**Is your feature request related to a problem? Please describe.**
I would like to plot a histogram using markers only. Unfortunately supplying `line_opts={"marker": "o", "linestyle": "None"}` to plot1d places the markers on the left edge of the bins, while they should be at their centers. I was not able to find a way to make it working. Supplying `"where": "mid"` does not help, as the `x` values

[2019-11-20 13:39] jrueb commented on #210
If there is really no way to make the markers work right now and if you would like, I could contribute with a pull request for this.

[2019-11-20 14:28] andrzejnovak commented on #210
You should be able to pass it into `error_opts`. See https://github.com/CoffeaTeam/coffea/blob/master/binder/plotting-demo.ipynb

[2019-11-20 15:33] nsmith- commented on #210
Yeah `error_opts` with errorbar disabled should do the trick.
Perhaps the naming here is getting in the way--the real difference between `line_opts` and `error_opts` is one is for drawing something between bin *edges* while the other is for drawing something at bin *centers*.

[2019-11-20 16:49] jrueb commented on #210
Thanks, using error_opts instead works nicely.

[2019-11-20 16:49] #210 closed, assigned to nobody

[2019-11-20 19:48] nsmith- commented on #208
I suspect this was fixed in #188

[2019-11-20 19:48] #208 closed, assigned to nobody

[2019-11-21 03:18] lgray commented on #205
OK - since lookup tools is supposed to be incredibly generic, it sounds like this probably needs a layer similar to jetmet_tools for the JECs and such. It sounds like what needs to be kept around more is

It would help to have a use case and standard workflow to try to better understand what's useful. I haven't had to use the b-tag SFs myself so I don't know the most effective practices.

It may n

[2019-11-22 04:18] nsmith- commented on #44
I'd like to remove the wiki.  It seems to me the sphinx documentation will be more robust in the long term, and right now the Wiki only acts as a red herring.

[2019-11-22 05:00] lgray commented on #44
Agreed, go ahead and remove it.

[2019-11-22 05:06] #44 closed, assigned to lgray, mcremone

[2019-12-07 06:26] belforte opened #214 "backward non-compatible change to hist.plot1d return value"
**Describe the bug**
https://github.com/CoffeaTeam/coffea/blob/5eda3869f046a30dbebba96cf1fdaaf06a8e7e6d/coffea/hist/plot.py#L278
is not compatible anymore with the documentation
https://github.com/CoffeaTeam/coffea/blob/5eda3869f046a30dbebba96cf1fdaaf06a8e7e6d/coffea/hist/plot.py#L163-L168

and causes e.g. this nbook to fail
https://github.com/prasanthkothuri/swan-spark-notebooks/blob/master/muons

[2019-12-07 06:32] nsmith- commented on #214
@andrzejnovak what motivates only returning `ax` from the `hist.plotXXX` operations rather than the previous `fig, ax`?

[2019-12-07 06:38] nsmith- commented on #214
Ok actually I remember we talked about dropping this.  I guess the thing to do is clean up docs/tutorials for lack of `fig` and maybe mention that one can retrieve the figure with `ax.figure`.

[2019-12-07 06:49] belforte commented on #214
thanks for the `ax.figure` tip. I can make the expected plot now !

Do not know if it matters, but note that `plotgrid` still returrns
'fig, axes'

FWIW I like the (admittedly slowing down) practice of opening
an issue first, so that one states what and why, then making
a PullRequest (which ideally another person reviews).
Directly committing to master should be reserved for exceptionally
simple c

[2019-12-07 11:04] andrzejnovak commented on #214
Hmm let me update the docs. The reason for this change was to bring it in line with other popular plotting libraries on top of `mpl` such as `seaborn`. `plotgrid()` should probably be returning an array of axes https://github.com/pandas-dev/pandas/blob/v0.25.3/pandas/plotting/_core.py#L594

Indeed `fig` can be obtained as `ax.figure` and primitives can be fetched from `ax` either specifically like

[2019-12-07 14:00] lgray commented on #214
I'll talk to Pransath to get the notebook on swan updated early next week.

[2019-12-07 14:50] #214 closed, assigned to nobody

[2019-12-12 13:26] andrzejnovak opened #222 "plot1d to automatically pick overlay if only one categorical and one dense axis present"

[2019-12-12 13:54] andrzejnovak opened #223 "Axis in a hist from processor missing '_lazy_intervals'"
I have a histogram produced via processor and an analogous histogram filled by hand.
[code]
On manual I can call
[code]
but the one produced in processor throws the following error about missing `_lazy_intervals`
<details> <summary>Error Code </summary>
[code]
</details>

print(hist_from_processor.sum('dataset').identifiers('flav'))

[2019-12-12 14:41] lgray commented on #223
Ah, this is from the changes in serialization.
The histograms you're reading in from the processor must have been built using an older version of coffea?

I can make a patch for backwards compatibility. Can you send me the pickle file you're reading histograms from?

[2019-12-12 16:50] nsmith- commented on #222
What if one wants a multi-bar graph per category, where each bar color is a dense bin?

[2019-12-12 16:50] andrzejnovak commented on #223
Uhh, I'm running it all in one jupyter notebook, not a pickle

[2019-12-12 16:50] nsmith- commented on #222
Note that is also not implemented yet, but could be.
e.g. https://matplotlib.org/3.1.1/gallery/lines_bars_and_markers/barchart.html

[2019-12-12 16:52] lgray commented on #223
Ah, neat, can you send me the notebook?

[2019-12-12 17:01] andrzejnovak commented on #222
I guess that should be a different function

[2019-12-12 17:16] andrzejnovak commented on #222
hmm or a flag for sth like `overlay_method` ?

[2019-12-12 17:21] lgray commented on #223
OK - got it fixed!
New version in a bit.

[2019-12-12 17:24] andrzejnovak commented on #223
Schweet

[2019-12-12 18:03] #223 closed, assigned to lgray

[2019-12-12 18:08] lgray commented on #223
OK we'll have coffea 0.6.23 with this patch in 30-40 minutes after all the CI is done, or it's in master. :-)

[2019-12-20 06:50] nsmith- commented on #69
This issue goes away with awkward1 where we'll have to rework numba functions anyway.

[2019-12-20 06:50] #69 closed, assigned to nobody

[2019-12-22 19:05] lgray commented on #47
Done in #231

[2019-12-22 19:05] #47 closed, assigned to nobody

[2019-12-22 19:09] lgray commented on #21
Type 1 MET corrections are implemented in JetTransformer as part of applying JECs and related uncertainties:
https://github.com/CoffeaTeam/coffea/blob/master/coffea/jetmet_tools/JetTransformer.py#L209

We probably want a better way to deal with this in the future.

[2019-12-22 19:09] #21 closed, assigned to areinsvo, mcremone

[2019-12-22 19:09] #61 closed, assigned to nobody

[2019-12-22 19:11] lgray commented on #87
This will evolve with awkward1 and is more or less dealt with in the present code base.

[2019-12-22 19:11] #87 closed, assigned to nobody

[2019-12-22 19:13] lgray commented on #113
This is partially solved in #221 and further evolution will occur with awkward1.

[2019-12-22 19:13] #113 closed, assigned to nobody

[2019-12-28 21:51] #135 closed, assigned to nobody

[2020-01-04 01:38] dntaylor opened #243 "Workflows executing on forked repos"
The workflows are executing on my forked repo.
Is this expected? Is there a configuration I am missing to prevent github actions from occurring on a forked repo?

https://github.com/dntaylor/coffea/actions

[2020-01-08 23:17] nsmith- opened #244 "Histogram binned axis labels are dropped by lazy intervals"
[code]
produces
[code]
but after pickling:
[code]
gives
[code]

[2020-01-09 01:37] lgray commented on #243
I don't know how to enforce this by default but you can turn it off in your local fork if you look under settings.

@matthewfeickert ?

[2020-01-09 01:45] matthewfeickert commented on #243
This isn't a bug, but rather just a choice.

As @lgray has mentioned, if you just remove the following lines in your local branch

https://github.com/CoffeaTeam/coffea/blob/2c23b1015371b9687013a6b607e387452443d66c/.github/workflows/ci.yml#L5-L6

then you'll be good to go. So it would now look like

[code]

Though you probably also want to make sure you give that commit a title like "DELETE ME: Rem

[2020-01-09 14:46] dntaylor commented on #243
Got it, didn't initially find it under the actions tab, where I expected it to be. But under repository settings.

[2020-01-09 14:46] #243 closed, assigned to nobody

[2020-01-09 16:45] #244 closed, assigned to nobody

[2020-01-09 16:51] lgray commented on #186
This is not needed.

[2020-01-09 16:51] #186 closed, assigned to lgray

[2020-01-14 18:25] jrueb opened #247 "Hist.rebin gives invalid results"
**Describe the bug**
coffea.hist.Hist.rebin gives invalid results

**To Reproduce**
[code]

**Expected behavior**
Output should be `{(): array([2., 2., 2., 2., 2., 2., 2., 2., 2., 2.])}`

**Output**
`{(): array([3., 1., 2., 2., 2., 2., 2., 2., 2., 2.])}`

 - Coffea version 0.6.28

[2020-01-14 18:25] nsmith- opened #248 "tailtimeout default is not None in pre-executor"
Based on the line https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/executor.py#L638 it appears that all pre-executor jobs will timeout.  Should this be `None`?

A workaround would then be
[code]

While here, the line https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/executor.py#L592 is inaccurate, as `tailtimeout` is normally passed on to executors and not interpre

[2020-01-14 18:27] nsmith- commented on #248
Also, the warning `Stopped job early` might be clarified to suggest it is related to the `tailtimeout` setting

[2020-01-14 18:28] nsmith- commented on #248
@dntaylor

[2020-01-14 19:02] dntaylor commented on #248
Ah, sorry about that. Yes, it should be `None` by default. I stopped testing things without the tailtimeout set to a value so missed this.

[2020-01-14 19:06] nsmith- commented on #247
The bug is due to floating point representation issues:
[code]
A naive fix might be to add eps to the result before `floor`, yet a) this makes some other set of numbers map incorrectly, and b) in this case the precision loss is actually enough to need 2*eps:
[code]

Since the intention here is simply to merge bins, I'll solve this by adding the feature `hist.rebin(old_axis, axis_or_num)` where if

[2020-01-14 19:25] jrueb commented on #247
It would be nice if `axis_or_num` could also be an iterable, so one could specify a variable number of bins that get merged into one. E.g. `[2,3,4]` would merge the first two, then the next three and then the next four, resulting in three new bins from 2+3+4=9 old bins.

[2020-01-14 19:52] jrueb commented on #247
I would also like to point out that the documentation of `rebin()` isn't quite clear in that it doesn't mention that it returns a new histogram instead of modifying `self`.

[2020-01-14 20:59] nsmith- commented on #247
For the multi-bin rebinning, one could also use
[code]
That is, if the behavior of rebin respected the bin boundaries properly, which I'll see if I can arrange as well.

[2020-01-15 04:21] nsmith- opened #249 "Memory fragmentation in threaded executors"
I ran into a really interesting “leak” while diagnosing high memory usage in threaded execution environments with coffea.  Basically the glibc memory allocation system has some dynamic threshold at which it decides whether to do an actual syscall to `mmap` vs when it uses a pre-existing arena (or creates a new larger arena) to allocate memory for a new object (`malloc`) When using many large numpy

[2020-01-17 14:46] nsmith- commented on #248
Fixed in #250
Can we cut a release @lgray ?

[2020-01-17 14:46] #248 closed, assigned to nobody

[2020-01-17 14:47] lgray commented on #248
Please do!

[2020-01-17 17:19] nsmith- commented on #247
So in the end I decided against allowing variable number of merged bins, as it introduces some ambiguity: one might equally be justified in expecting `h.rebin('old', [1, 2, 3])` to rebin such that `[1, 2, 3]` is the new edges array.  Still, the method I proposed above works.

[2020-01-17 17:26] jrueb commented on #247
Okay, it is indeed ambiguous. I realized that if `h` is 3-dimensional, one could also expect `h.rebin('old', [1, 2, 3])` to rebin the first axis to one bin, second axis to two, etc. I think this is a good solution.

[2020-01-17 17:35] #247 closed, assigned to nsmith-

[2020-01-17 20:29] dntaylor opened #252 "Add GenPart mass in NanoEvents"
In NanoAOD, the GenPart mass is not store for SM particles less than 10 GeV.
This should be set automatically when build NanoEvents.

What I have been doing:
[code]

But, would need a more exhaustive list.

See documentation here: **https://cms-nanoaod-integration.web.cern.ch/integration/master-102X/mc102X_doc.html#GenPart**

[2020-01-17 20:30] dntaylor commented on #252
@nsmith-

[2020-01-17 20:35] dntaylor commented on #252
Here is where they specify which are kept:
https://github.com/cms-nanoAOD/cmssw/blob/master-cmsswmaster/PhysicsTools/NanoAOD/python/genparticles_cff.py#L44

[2020-01-28 10:25] PerilousApricot opened #254 "Coffea in jupyter+spark crashes if ipywidgets isn't installed."
**Describe the bug**
pip-installing coffea+ipykernel+pyspark and then running a coffea job in Jupyter causes an import error within TQDM. This happens because ipywidgets isn't a transitive dependency of tqdm, ipykernel or coffea.

**To Reproduce**
Steps to reproduce the behavior:
1. make a venv and pip install the freeze below
2. make a kernel in jupyter out of the venv
3. run the following in a c

[2020-01-29 16:28] andrzejnovak opened #257 "Deprec warning for parsl_executor"
This needs to get a deprec warning. I was accidentally passing it to run_uproot_job instead of the one in `coffea.executor` causing a mess.

https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/parsl/parsl_executor.py

[2020-01-29 18:14] lgray commented on #254
Good catch. I've somehow never installed jupyter notebook without ipywidgets.

I think I'll add a `[jupyter]` dependency specialization to solve this. Having ipywidgets as a base dependency of coffea is incredibly hefty.

This way we can do `pip install coffea[jupyter,pyspark]` and it should all be taken care of for folks who need it.

Seems OK to you?

[2020-01-29 18:17] PerilousApricot commented on #254
That'll work technically, but it'll mean installing all of jupyter to get
just the kernel functionality. I dunno how religious you are about keeping
the # of deps down

[2020-01-29 18:21] lgray commented on #254
Ah, so I'm only ever installed jupyter and used ipython via `pip install jupyter` which depends on ipywidgets -> hence why I'd never seen it.

And never mind. ipywidgets (surprisingly) has zero dependencies. I'll go ahead and add it to our requirements. It's not a very big one by itself (compared to numpy/scipy/numba).

[2020-01-29 18:27] PerilousApricot commented on #254
Yeah, my typical workflow is to have a Jupyter venv, then each individual
project is its own separate venv where I install ipykernel then do a
"ipython kernelinstall" (inforget the exact command). So I have all of
jupyter installed just in a different environment. I just now hit it
because I moved coffea out of the "toplevel" venv into a separate one
--
It's dark in this basement.

[2020-01-29 18:35] PerilousApricot commented on #254
Roughly:

virtualenv coffea-venv
source coffea-venv/bin/activate
pip install coffea ipykernel
ipython kernel install --user --name=coffea-hats
deactivate

virtualenv jupyter
source jupyter/bin/activate
pip install jupyter
jupyter-notebook

The coffea env doesn't have the jupyter bits in it, just the kernel part

[2020-01-29 18:41] #254 closed, assigned to nobody

[2020-01-29 18:57] #257 closed, assigned to nobody

[2020-01-30 16:22] andrzejnovak opened #262 "Awkward/Nano usage docs/guide"
Would be nice to have a guide/tips&tricks on how to manipulate columnar stuff in the README or sth.
A link to slide 22 of https://indico.cern.ch/event/745288/contributions/3080203/attachments/1748811/2832682/pivarski-hsf-numpy.pdf and maybe some more examples, especially now that nanoaod profile is in.

Some things are relatively trivial, but it gets complicated fast. Sth-like
Select a leading jet

[2020-02-06 18:49] irenedutta23 opened #264 "A bug was found in coffea.lookup_tools.evaluator.btag_csv_scalefactors"
**Describe the bug**
I noticed that the B tag evaluator crashes while trying to implement the new TuneCP5 btag shape scale factors (DeepCSV_2016LegacySF_V1_TuneCP5.csv) from here:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/BtagRecommendation2016Legacy

It also fails while trying to evaluate the new 2017 V5 scale factors (DeepCSV_94XSF_V5_B_F.csv) from here:
https://twiki.cern.ch/twiki/bin/viewau

[2020-02-11 14:20] jrueb opened #265 "Exception when trying to extract JER SF"
**Describe the bug**
I'm getting a ValueError when trying to load the JER SF using `coffea.lookup_tools.extractor`

**To Reproduce**
Download the SF file from https://github.com/cms-jet/JRDatabase/blob/master/textFiles/Autumn18_V7b_MC/Autumn18_V7b_MC_SF_AK8PFchs.txt and change extrension to .jersf.txt. Then run
[code]

This will raise `ValueError: too many values to unpack (expected 3)`.

[2020-02-13 13:18] lgray commented on #265
Probably a file format difference. Seems to be trending in CMS these days. I'll take a look at it today.

[2020-02-16 19:07] nsmith- commented on #264
@irenedutta23 can you test coffea v0.6.33 and close this if things look ok?

[2020-02-17 10:08] andrzejnovak opened #271 "Clean up web links"
https://coffeateam.github.io/ is one of the first things that gets autocompleted/googled when looking for coffea and the page is dud. If it doesn't get filled. It should just redirect to github.

[2020-02-18 23:45] andrzejnovak opened #272 "plot1d(stack/density)"
When both density and stack are `True`, `plot1d` currently does density and then stack. Should also have an option to do stack first and then density.

[2020-02-22 01:40] irenedutta23 commented on #264
Hi @nsmith
 I was checking this version today and I noticed that if I try
[code]
I see the same issue for `cf_err1`. From what I understand, when one uses the iterative fit method, the following systematics corresponds to the given flavours:

- bFlav - jes, lf, hfstats1, hfstats2
- cFlav - cferr1, cferr2
- lFlav - jes, hf, lfstats1, lfstats2
I know that the `up_cferr2` definitely exists in the .cs

[2020-02-23 18:24] nsmith- commented on #264
Since the measurement type can differ for each flavor, you should specify all three in the methods field, i.e. `iterativefit,iterativefit,iterativefit`. Perhaps we could make it assume all the same, although often there is no common method for all three flavors.
[code]

[2020-02-24 09:32] #272 closed, assigned to nobody

[2020-02-24 22:50] irenedutta23 commented on #264
I see, thanks! This resolves my problem. I'll close this issue.

[2020-02-24 22:50] #264 closed, assigned to nobody

[2020-02-26 13:24] #222 closed, assigned to nobody

[2020-02-27 02:01] eestr opened #274 "Running Four Muon Spectrum with Iterative Executor"
**Describe the bug**
I wanted to run the Four Muon Spectrum (https://coffeateam.github.io/coffea/notebooks/muonspectrum_v4.html) with coffea.processor.iterative_executor instead of coffea.processor.futures_executor. When I make the changes to the example (shown below), I get an error of the following type: raise ValueError("maximum offset {0} is beyond the length of the content ({1})".format(self.

[2020-02-27 09:35] andrzejnovak commented on #274
@eestr does it also not run when you uncomment the flatten arg?

[2020-02-27 11:36] andrzejnovak commented on #274
@eestr yup, I just tested it, though we should update the plot signatures

[2020-02-27 15:38] eestr commented on #274
That worked, thank you!

[2020-03-09 15:57] dnoonan08 opened #275 "Add rho as an event variable instead of jet variable in JetTransformer"
In the JetTransformer, the rho value used in the jet energy corrections is expected to be a jet property (inside the jet JaggedCandidateArray) rather than an event level variable.  The workaround I made in my code was to add rho as the same value in all jets of an event:
[code]
I think it would be good to have the rho value be passed as another argument to the JetTransformer.transform() function o

[2020-03-12 13:30] lgray commented on #265
@jrueb Do you need the new JERSF split variations or just the total variation?
If it's the former I have a fix now. The latter requires an updated treatment in the jet transformer as well.

[2020-03-12 13:49] jrueb commented on #265
For now, I only need the total. For the future, I can not rule out that this might be different.

[2020-03-12 15:03] lgray commented on #265
@jrueb OK - cool. I'll try to have a fix for the rest soon, need to talk to JME about how the additional smearings are dealt with.

Original fix took a while because I was stuck writing a grant proposal. Feel free to contribute fixes to stuff like this in the future!

[2020-03-17 20:33] mcremone opened #280 "Extending jetmet_tools to interface with NanoEvents"
To use the jetmet_tools it is currently required to have a JaggedCandidateArray in input:

https://github.com/CoffeaTeam/coffea/blob/master/coffea/jetmet_tools/JetTransformer.py#L124

would be good to adapt this to accept NanoEvents.

[2020-03-22 14:46] lgray opened #282 "Latest pyspark breaks coffea"
Need to debug and understand why.

Hopefully it lets us use latest pyarrow as well?

[2020-03-25 19:19] #282 closed, assigned to nobody

[2020-04-02 15:30] AndreasAlbert opened #288 ""binwnorm" argument to plot1d does not seem to work"
**Describe the bug**
It seems that the `binwnorm` argument to `plot1d` does not do anything.

**To Reproduce**
Minimal working example:
[code]

**Expected behavior**
The comment in `plot1d` says:
[code]

In the specific case here, I expected the `binwnorm` argument to

a) result in the bin contents being plotted divided by the width of the bin. In the example above, there are 10 bins, and each his

[2020-04-02 15:34] andrzejnovak commented on #288
@AndreasAlbert  Will take a look

[2020-04-02 22:31] #288 closed, assigned to nobody

[2020-04-03 14:03] AndreasAlbert opened #291 ""binwnorm" argument to plot1d does not interact correctly with overlay/stack plots"
**Describe the bug**
I'm trying to make a typical data/MC comparison plot: MC is a stacked overlay plot, data is plotted on top as an additional overlay. Observations: When using `binwnorm=1`, the data/mc ratio shows up differently than when using `binwnorm=None`.

I think the issue may be related to how the stacked plots are normalized. The normalization seems fine for the non-stacked data histog

[2020-04-03 14:56] andrzejnovak commented on #291
The densitymode="stack" or sth like that. I'll reply more extensively in a
bit.

On Fri, Apr 3, 2020, 16:04 Andreas <notifications@github.com> wrote:

[2020-04-03 15:20] AndreasAlbert commented on #291
Thanks for the suggestion! If I understand correctly, you are saying I should pass `densitymode="stack"` to the `plot1d` call for the stack plot? I.e. same code as before, but:
[code]

If that is what you are suggesting, then it does not seem to change the behavior here:

![image](https://user-images.githubusercontent.com/9568102/78376647-9a29cc80-759c-11ea-93c3-54112bfcf445.png)
![image](https://

[2020-04-03 15:33] andrzejnovak commented on #291
Ah found the culprit - https://github.com/scikit-hep/mplhep/blob/master/mplhep/plot.py#L201
Thanks for pointing it out. I'll push a fix asap.

[2020-04-03 16:01] AndreasAlbert commented on #291
With your fix in https://github.com/scikit-hep/mplhep/pull/113, it seems to work now. `densitymode` is not needed either way, right?

[2020-04-03 16:07] andrzejnovak commented on #291
No. It's no interacting with `binwnorm` after all (that's a bug). I am still not 100% sure on that behaviour though. When using `density` it governs whether you normalize first and stack after or stack first and normalize then. But now I wonder whether there is even a use case for the former.

[2020-04-03 16:23] AndreasAlbert commented on #291
Agree, hard to imagine a case where normalizing to unity before stacking is what you want

[2020-04-03 16:54] #291 closed, assigned to nobody

[2020-04-13 15:56] andrzejnovak commented on #274
@nsmith- Should you edit the example notebook to explain the kwarg or relabel this issue as community-support?

[2020-04-20 15:01] jrueb opened #295 "Mistake in formula for stochastic smearing in the JetTransformer"
**Describe the bug**
In the formula for the factor used to scale jets in order to apply the stochastic smearing according to https://twiki.cern.ch/twiki/bin/viewauth/CMS/JetResolution#Smearing_procedures, one reads max(s_JET^2 - 1, 0). This is supposed to express that in case "s_JET^2 - 1" is negative, take the 0.
However in coffea's JetTransformer it reads (one of three lines where this is done)

[2020-04-20 15:20] lgray commented on #295
@jrueb Good catch. Thanks for finding this.

[2020-04-20 16:30] #295 closed, assigned to nobody

[2020-04-24 16:40] AndreasAlbert opened #297 "[bug] plot1d crashes with overlay, binwnorm and empty histograms"
**Describe the bug**
When using plot1d to make an overlay plot, a crash appears if the following conditions are met:
* one of the the overlay categories has exclusively been filled with empty arrays
* binwnorm is not None

**To Reproduce**
[code]

**Expected behavior**
I'd expect all non-empty categories to be plotted normally and the empty category to be plotted with all zero bin contents.

**Out

[2020-04-24 16:46] andrzejnovak commented on #297
@AndreasAlbert  Thanks for spotting that. I reckon the expected behaviour is for empty arrays to just pass? akin to `plt.plot([], [], label="Empty")` ?

[2020-04-24 16:54] AndreasAlbert commented on #297
Yes, exactly.

[2020-04-27 15:43] jrueb opened #299 "RecursionError when copying LazyDataFrame"
**Describe the bug**
When one tries to create a shallow copy a `coffea.processor.LazyDataFrame` with Python's standard `copy.copy` one gets a RecursionError.

**To Reproduce**
[code]

**Additional context**
One can more directly trigger the error by
[code]
 `copy` seems to be calling the built-in `__new__` for `LazyDataFrame` which creates an instance without calling `__init__`. The error then see

[2020-04-27 16:42] lgray commented on #299
Hmm, why are you making a shallow copy of a dataframe in the first place?

Need to understand use case to determine correct path forward!

[2020-04-27 16:50] nsmith- commented on #299
Thanks for making the concise reproducible example.
Indeed I was initially opposed to having getattr and getitem accessors, but it is such a popular request that we could not avoid it. Messing with attribute access tends to be fragile, and looks like you hit one more corner case. The good news is that `__getattr__` is lowest precedence in the attribute accessor resolution, so I've made it raise `A

[2020-04-27 16:57] jrueb commented on #299
@lgray What I actually was fiddling with when I stumbled across this, was a shallow copy that has its `_dict` also copied like this:
[code]
If I wasn't violating encapsulation here, it would enable me to have two dataframes, e.g. one for up variation and one for down variation, while being memory efficient in that already-read columns are in memory only once.

[2020-04-27 16:59] nsmith- commented on #299
Note, having getitem call getattr would not avoid this recursion error, rather getattr would recurse on itself trying to access `_dict`.

[2020-04-27 17:28] lgray commented on #299
@jrueb Thanks for fiddling, I'll add it as a test. :-)

OK - I think the best solution is to modify the `__copy__` and `__deepcopy__` of DataFrame to match expected behaviors but deal with our `__getattr__`/`__getitem__`/`__dict__` silliness.
`
@nsmith- ok with you, or do you have a better solution in mind?

[2020-04-27 17:32] nsmith- commented on #274
The issue here is that the `flatten` argument appears in executor configuration, far away from the data processor declaration, so one gets confused about what it is doing and why, in this case, it is necessary. I think in the long term we need a refactoring of the processor stuff.

[2020-04-27 17:32] #274 closed, assigned to nobody

[2020-04-27 17:34] nsmith- commented on #299
@lgray see #300

[2020-04-27 18:33] #299 closed, assigned to nobody

[2020-04-29 18:14] #297 closed, assigned to nobody

[2020-05-12 14:24] oshadura opened #302 "Running Coffea with Dask/Futures executor throw an error: cannot pickle 'property' object"
**Describe the bug**

Running an example of Coffea with Dask/Futures executor with METProcessor(processor.ProcessorABC) (one of ADL examples: https://github.com/mat-adamec/coffea-benchmarks) cannot pickle 'property' object

I am almost sure it is a problem with Python version...

**To Reproduce**

[code]

**Output**

[code]

**Desktop (please complete the following information):**
 - OS: Manjaro

[2020-06-17 15:46] mondalspandan opened #307 "IndexedMaskedArray instead of JaggedArray"
**Describe the bug**
I am using NanoEvents to manually match gen particles to reco particles. It seems in some cases where I expect a JaggedArray, I see an IndexedMaskedArray instead. The IndexedMaskedArrays, in turn, cannot be used as indices in a later step.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I would expect both to return the same datatype as the par

[2020-06-17 17:41] nsmith- commented on #307
I think this is an issue with awkward0. The `IndexedMaskedArray` type should be able to be used as an index, especially in this case when there are no masked entries (ensured by your previous cuts). A workaround in this context is to instead use `ev.Jet[dR.content < 0.4]`. I expect the basic issue to go away with a move to awkward1, but will leave it open to be sure.

[2020-06-18 09:51] andrzejnovak opened #310 "Fix docs for `candidatesfrom<counts/offsets>"
Docstring is pretty much the same for [candidatesfromcounts](https://github.com/CoffeaTeam/coffea/blob/1dfd5ee0531914b069834a45c50a285572557efc/coffea/analysis_objects/JaggedCandidateMethods.py#L101) and [candidatesfromoffsets](https://github.com/CoffeaTeam/coffea/blob/1dfd5ee0531914b069834a45c50a285572557efc/coffea/analysis_objects/JaggedCandidateMethods.py#L132).

Should be fixed, especially sin

[2020-06-18 10:36] andrzejnovak opened #311 "Scale out examples - parsl"
Are there any public scale-out examples for parsl?

Having some condor/slurm using examples to point to would be great.

[2020-07-06 15:00] jrueb opened #315 "AttributeError when creating a JaggedCandidateArray from p4 in conjunction with from_ptetaphim"
**Describe the bug**
An `AttributeError` is raised when creating a `JaggedCandidateArray` from Lorentz vectors using the parameter `p4`, if the Lorentz vectors were created with `from_ptetaphim`.

**To Reproduce**
[code]

There is an `isinstance` call  in `candidatesfromoffsets` that only checks for `uproot_methods.TLorentzVectorArray` and not for `uproot_methods.classes.TLorentzVector.PtEtaPhiMas

[2020-07-06 15:04] lgray commented on #315
Indeed - I'll fix that momentarily. Thanks!

[2020-07-06 15:22] jrueb commented on #315
I just noticed in the documentation it says that `p4` is supposed to be Cartesian. So maybe this is intended. However I don't see why one would need this requirement.

[2020-07-06 15:28] lgray commented on #315
That's for when you provide something that's not an ArrayMethods-based class.
I'll fix the docs too - thanks.

[2020-07-06 15:46] #315 closed, assigned to nobody

[2020-07-06 15:47] lgray commented on #310
Fixed in #316 to some extent. They're still largely the same since they do the same thing, but maybe there's something more you want added?

[2020-07-06 15:47] #310 closed, assigned to nobody

[2020-07-07 16:05] jrueb opened #317 "Ability to resume an uproot job"
**Is your feature request related to a problem? Please describe.**
I'm normally using `run_uproot_job` together with parsl and HTCondor. In case of a large number of chunks it happens very often to me that `run_uproot_job` does not finish. It gets stuck at the last few chunks, maybe due to hardware trouble, or there has been some other (outside of python) error. In the classic workflow without cof

[2020-07-07 16:32] andrzejnovak commented on #317
@jrueb I had this problem with parsl/slurm. Updating parsl helped - it was very unclear where the problem was.

Would you mind sharing your condor setup (barebones versions)? There's no official example and I didn't have the time to figure it out myself.

[2020-07-08 17:53] bbockelm opened #318 "Cannot disable Dask retries"
When invoke `run_uproot_job`, the method mutates the provided dictionary (surprisingly changing things for the user if they re-run the job twice with the same dictionary).

One result of this is that disabling Dask retries are not possible.  We remove the `retries` parameter from the executor arguments:

https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/executor.py#L978

But that i

[2020-07-08 18:43] lgray commented on #318
@nsmith- can you get this one?

[2020-07-13 17:13] jrueb opened #320 "FactorizedJetCorrector incorrectly handles JaggedArrays"
**Describe the bug**
The `getSubCorrections` and subsequently the `getCorrection` methods of `FactorizedJetCorrector` incorrectly handle JaggedAttays. It modifies the content of the inputs and raises an error when using a starts-stops JaggedArray.

**To Reproduce**
[code]
`pt` will surprisingly be changed by the `getCorrection` call and will be around 109 now.
On top of that with a starts-stops Ja

[2020-07-13 17:44] lgray commented on #271
OK - I removed that website and googling for "coffea hep" puts you the right webpage at the top.
I'll close this for now, but if there is more clean up to do let us know!

[2020-07-13 17:44] #271 closed, assigned to nobody

[2020-07-13 17:44] lgray commented on #320
Thanks for the reproducers, I'll try to fix it soon.

[2020-07-16 23:28] nsmith- commented on #180
Probably it makes more sense to just implement a mixin-style class:
[code]

[2020-07-17 09:58] jdulemba opened #322 "MET pT and phi not recomputed correctly in JetTransformer"
**Describe the bug**
The corrections applied to jets that modify the jet p4 via the transform method aren't propagated to the MET. Even though 'new_x' and 'new_y' are computed in lines 226-227 for the MET px and py, the resulting MET p4 remains unchanged.

**To Reproduce**
from coffea.lookup_tools import extractor
from coffea.jetmet_tools import FactorizedJetCorrector, JetCorrectionUncertainty, Je

[2020-07-21 10:10] andrzejnovak opened #323 "Supplement `hist.integrate` with `hist.cut` which would not sum the axis out after."
Alternatively, `hist.integrate` could take a kwarg to only apply the cut, but not sum-out the axis.

[2020-07-21 11:16] jrueb commented on #320
I can make a pull request for this, if you don't mind.

[2020-07-21 13:14] #320 closed, assigned to nobody

[2020-07-21 14:07] nsmith- commented on #323
The slicing syntax should support such an operation, e.g. `h[3:10]` if the first axis has bins in range including 3-10. That said, it requires some work to input the empty slices to get to the right axis so a convenience function with axis name would be good.

[2020-07-21 15:05] andrzejnovak commented on #323
I am not sure what the correct API is. I feel like `integrate(..., consume=False)` would be the most natural way to extend it, but that would be in semantic conflict with the meaning of "integrating out" the axis.

[2020-08-02 18:33] kondratyevd opened #327 "Allow initialization of JetTransformer without JEC specified (only with JER)"
There are cases where one only wants to apply JER, without (re)applying JEC (for example, when computing JER systematics). Please correct me if I'm wrong, but it seems that JetTransformer would work fine without the requirement to specify JEC [1], as long as JER has been specified.

[1] [https://github.com/CoffeaTeam/coffea/blob/master/coffea/jetmet_tools/JetTransformer.py#L79-L80](https://github.

[2020-08-06 15:11] alex-remedios opened #328 "Automate Notebook Tests?"
Hey there,

Was just checking out your project and thought it may be a good candidate for [treebeard](https://github.com/treebeardtech/treebeard)

happy to help getting setup if you are interested otherwise feel free to close 👍

[2020-08-11 16:25] kondratyevd opened #330 "NanoEvents: error when trying to access Jet.matched_gen"
**Describe the bug**
I'm trying to access the collection of matched generated jets, but I get an error even if I just try to print it out. The error appeared only during processing of the second chunk of the input file.
There are no errors if I print `matched_muons` collection.

**To Reproduce**
`ProcessorABC` class with the following definition of `process()`, the input is in `NanoAODv6` format:

[2020-08-11 16:36] nsmith- commented on #330
My immediate suspicion is with the file. If the Jet_genJetIdx branch exceeds nGenJets in the file then this is likely the culprit. You could check this with bare ROOT `Events->GetEntries("Jet_genJetIdx >= nGenJet")`. I know this branch had a bug in Nanov5: https://coffeateam.github.io/coffea/api/coffea.nanoaod.methods.Jet.html#coffea.nanoaod.methods.Jet.enable_genjet

[2020-08-11 16:53] kondratyevd commented on #330
Indeed, there are events where `genJetIdx > nGenJet`.
Should I set `enable_genjet = False`, like for NanoAODv5? What will it do exactly?

[2020-08-11 16:56] nsmith- commented on #330
Just prevents using the branch, as after all this issue is a sign that the branch has a bug and cannot be trusted to map things correctly. You can always match to gen using the traditional cross+deltaR routine.

[2020-08-11 17:45] kondratyevd commented on #330
Thanks! I'll do that.

[2020-08-11 17:47] #330 closed, assigned to nobody

[2020-08-13 14:03] nsmith- commented on #330
It might be worth sending an email to HN to clarify if this was fixed properly for Nanov6.

[2020-08-18 10:12] jrueb opened #332 "Plot systematic uncertainties in plot1d and plotratio"
**Is your feature request related to a problem? Please describe.**
Currently `plot1d` and `plotratio` calculate the statistical uncertainties very nicely and plot them. However for most analyses, especially the ones that are dominated by systematic effects, it is crucial to also indicate the size of the systematic uncertainties. This is not easily possible with the current plot functions.

**Descr

[2020-08-18 10:35] andrzejnovak commented on #332
I think this might out of scope for `coffea.hist`, I am not sure how it would automatically track systematics. I agree that a plotting method like that would be useful and should probably be in `mplhep`. The interesting question I think is for @henryiii if `hist` histograms could hold two kinds of errors, these could then be set manually from various results in coffea and dumped into the plotting

[2020-08-18 16:45] nsmith- commented on #332
I think it would be nice for future tools to have some convenient way of specifying external error bands, e.g. envelope of variations along some systematic axis in a multi-D histo, or linear/quadrature sum of up/down fluctuations. I wonder if we need to define a convention for a special "systematic" axis type since there is a semantic meaning to the "Up" and "Down" variations that needs to be resp

[2020-08-19 18:40] nsmith- opened #333 "Histograms filled improperly for int16 data"
Reported via email. The issue is that the bin index calculation (roughly, `(x - lo) * nbins / (hi - lo)`) wraps around zero.
MRE:
[code]
Should produce `np.arange(50) + 1`

[2020-08-19 19:04] #333 closed, assigned to nsmith-

[2020-08-24 09:56] jdulemba opened #336 "Histogram Axis <Bin> has no interval that fully contains identifier <Interval>"
**Describe the bug**
Using coffea version 0.6.38 I am unable to rebin a histogram whose original bin edges are shown in [1] and whose new bin edges are shown in [2]. The  error I get is shown in [3]. I've gotten around this problem in the past by increasing the number of bins, but when I use this binning in a 2D histogram I want to be as efficient as possible.

1. [0.  , 0.05, 0.1 , 0.15, 0.2 , 0.

[2020-08-25 20:49] nsmith- commented on #336
This is a floating-point issue. For example,
[code]
none of the bin edges match up because of how the first histogram is constructed. One option is to specify the binning ahead of time in the same manner as you declare `x_rebinning` to ensure it is the same exact floating-point value, e.g.
[code]
another option is to select the subset of bin boundaries from the original histogram:
[code]

[2020-08-25 22:08] nsmith- commented on #302
I think this is probably due to https://github.com/cloudpipe/cloudpickle/pull/329
We can pin `cloudpickle >= 1.2.3` to avoid it, I think.

[2020-08-25 23:44] #318 closed, assigned to nsmith-

[2020-08-27 14:50] oshadura commented on #302
@nsmith- I just tried and I can confirm that the current coffea version: '0.6.43'  together with cloudpickle '1.5.0' is working without problem.

[2020-08-27 18:08] #302 closed, assigned to nobody

[2020-08-27 20:11] nsmith- commented on #336
Let me know if the explanation is clear, and if so can you close the issue?

[2020-08-27 20:51] andrzejnovak commented on #336
I see you marked this as wontfix, but thoughts on having this use some kind of `isclose` logic?

[2020-08-27 20:54] nsmith- commented on #336
This is something we could suggest to the boost-histogram developers, but I consider coffea histograms in maintenance mode at the moment.

[2020-08-31 07:41] jdulemba commented on #336
Sorry for the late reply, I took a long weekend. The explanation makes sense and in the end I implemented what Andrzej suggested as a sort of fix. Thanks!

[2020-08-31 07:41] #336 closed, assigned to nsmith-

[2020-08-31 14:31] jrueb commented on #336
Does this mean you do not plan to add any more features to the histograms?

[2020-08-31 14:46] nsmith- commented on #336
The roadmap for `coffea.hist` is:

- Replace backend with boost-histogram, leaving user API the same
- Deprecate user API, pointing users to `hist` package (https://github.com/scikit-hep/hist)
- Add new features to `hist` package if warranted

[2020-09-14 14:01] nsmith- opened #345 "Workqueue executor CI tests are failing"
All daily CI has failed since Sep. 4th with:
[code]
I disabled the test for python 3.8 for now (actually all but 3.7).

[2020-09-14 14:02] nsmith- commented on #345
@zsurma let us know if you can debug this or if your time on the project has wrapped up.

[2020-09-14 14:27] lgray commented on #345
To this end I've been working on getting coffea into conda properly.
The error being emitted is from a pip/conda clash, so I suspect pulling that together may help.

[2020-09-18 15:44] jeffkrupa opened #347 "Fixing colors to samples in plot1d"
**Is your feature request related to a problem? Please describe.**
By default, it seems the color order of stacked+overlayed processes in `plot1d` is fixed by yield. This makes side-by-side yield comparison of histograms difficult, particularly when one tries to compare individual process yield in a histogram (since if the yield order changes, the color also changes, instead of the color being fix

[2020-09-18 16:05] nsmith- commented on #347
A note, probably the reason they are ordered by yield is because somewhere else the sorting of the axis is set to `integral`, see https://coffeateam.github.io/coffea/api/coffea.hist.Cat.html#coffea.hist.Cat
If you change the `myhisto.axis("axisname").sorting = "identifier"` it will be alphabetical, for example, and hence the coloring will be consistent for all plots since the mpl color cycler is a

[2020-09-18 16:29] lgray commented on #347
Since this is a major style / book-keeping issue, we should advertise it in the Hist constructor for ease of use.

[2020-09-18 17:59] andrzejnovak commented on #347
I'm torn whether this is an oversight or it starts to go into the territory of custom plotting. But yeah I would expect it to be possible at least to plot in the order of identifiers

[2020-09-20 19:25] lgray commented on #345
@camicarballo @nsmith- following up on this now that we have coffea in conda. Even using the coffea from conda I'm seeing the same:
[code]

despite there being no pip being used at all in the install script any more!

Something's definitely off with python 3.8 and wq + coffea.

[2020-09-21 11:14] andrzejnovak commented on #347
@jeffkrupa did you find out if @nsmith- 's suggestion works for you?

[2020-09-22 14:49] jeffkrupa commented on #347
@andrzejnovak @nsmith- thank you for your responses! ideally, I would be able to order a stacked histogram by integral and fix colors to specific processes. While ordering by identifier solves the color problem, it makes it more difficult in my opinion to glean important information from the histogram, such as the relative sizes of backgrounds

[2020-09-22 15:48] andrzejnovak commented on #347
Ok, I don't actually know how we would implement this generally enough (should work for any kwarg right, not just color).

The way to get what you want within the coffea plotting helpers is to have a dict of key:color combinations and fetch from this dict based on the order of the identifiers in the hist. You should be able to pass the list you create like that to `"color"` in `fill_opts`. The ord

[2020-09-23 15:27] mondalspandan opened #351 "XRootD with nanoaod.NanoEvents on Python 2/3"
Hello, I was wondering how one could load files over xrootd using nanoaod.NanoEvents.from_file(). I see example codes where NanoEvents loads files over xrootd, but I could not make it work in either Python 2 or 3. The issues I run into are as follows:

**Python 2.7:**
- I can install XRootD with both conda and pip.
- I cannot install Coffea as it requires matplotlib >= 3 which in turn requires Pyt

[2020-09-23 15:37] lgray commented on #351
Do you have cvmfs available? If so you can use one of the lcg releases to get a python3 compatible version of xrootd. I'm not quite sure why it hasn't been updated in conda.

[2020-09-23 15:40] nsmith- commented on #351
I'm sure conda has a working python3.7 xrootd, I have used it quite extensively. It may be that python3.8 has issues, but not sure. For my reference, can you point to where the statement that xrootd doesn't support python 3 is?

[2020-09-23 15:41] nsmith- commented on #351
As for python2, we'll make an action item to declare python 2 unsupported by coffea. Indeed several of our dependencies are now python3-only.

[2020-09-23 16:42] mondalspandan commented on #351
Hi Lindsey and Nick,

Using one of the lcg releases with Python 3 indeed solves the problem, thanks a lot!

I was referring to [this repository](https://github.com/xrootd/xrootd-python). It seems it has not been maintained for quite some time, so it is possible that a new XRootD version for Python 3 is officially maintained elsewhere, given it indeed works with Python 3.

Thanks again!

[2020-09-23 16:45] andrzejnovak commented on #351
That's not the one you get in conda afaik

[2020-10-04 18:43] kondratyevd opened #355 "In-place modification of arrays when using Spark+NanoEvents"
**Describe the bug**
I compute Rochester correction using the example from [`coffea/tests/test_lookup_tools.py`](https://github.com/CoffeaTeam/coffea/blob/master/tests/test_lookup_tools.py#L206-L249). It works well with executors based on Uproot (iterative, Dask), but fails when I try to use the Spark executor (NanoEvents format is used in all cases).

The error appears at the point where we try t

[2020-10-05 18:37] nsmith- commented on #351
Hi @mondalspandan I wonder if you can confirm the steps you took to create a python3.8 conda environment, showing the read error in coffea after installing xrootd?

[2020-10-05 21:16] mondalspandan commented on #351
Hi Nick,

I do the following:

- Install conda 3.8 from the installer: `Anaconda3-2020.07-Linux-x86_64.sh`
- Install coffea using pip (I make sure conda is activated and it is the pip inside conda3/bin/): `pip install coffea`
- Read a file using coffea: `events = Events.from_file(fname)` where `fname` is an XRootD path.
- This fails and asks me to Install pyxrootd package [1].
- I install pyxrootd

[2020-10-15 11:37] andrzejnovak opened #357 "Out of date example for http read"
Opening remote file from example throws os/uproot read error for html

https://coffeateam.github.io/coffea/notebooks/nanoevents.html#Using-NanoEvents-with-a-processor

<details><summary>Trace</summary>

[code]

</details>

[2020-10-15 12:37] nsmith- commented on #357
Issue in uproot: https://github.com/scikit-hep/uproot4/issues/121

[2020-10-16 19:15] nsmith- commented on #351
Hi @mondalspandan can you try to start a fresh conda environment and `conda install -c conda-forge xrootd` and then `pip install coffea` ? Just in case pip is clobbering conda.

[2020-10-16 19:17] nsmith- commented on #351
For sure I know this conda-based installation procedure works: https://github.com/CoffeaTeam/coffea-farm/blob/master/docker/coffea-dask/Dockerfile#L14-L32

[2020-10-20 13:14] ramankhurana opened #358 "How do I get the error of TH2F instead of bin content"
Hello

For the case described here:
https://coffeateam.github.io/coffea/notebooks/applying_corrections.html#Opening-a-root-file-and-using-it-as-a-lookup-table

If the TH2F has error associated with it, can I read them as up and down weights somehow? Is there an option to turn this on?

[2020-10-20 20:39] lgray commented on #358
Hi Raman,

The errors are checked for and yielded here:
https://github.com/CoffeaTeam/coffea/blob/master/coffea/lookup_tools/root_converters.py#L24-L28

From here:
https://github.com/CoffeaTeam/coffea/blob/master/coffea/lookup_tools/extractor.py#L88-L100

if you're using the lookup_tools.extractor class you can specify:
`* * path/to/histogram`

and so long as the variances in that histogram are fi

[2020-10-20 20:58] ramankhurana commented on #358
Thanks a lot Lindsey!! Nice and clean, worked like charm!!

[2020-10-20 20:58] #358 closed, assigned to nobody

[2020-10-28 13:53] andrzejnovak opened #361 "project behavior w.r.t flow bins"
I know that hist is slated for replacement, but just to log it somewhere. I thought flow bins were kept track of, is this not the case?

![image](https://user-images.githubusercontent.com/13226500/97445249-5a0dab00-192d-11eb-8962-69390089398d.png)

[2020-10-28 14:24] nsmith- commented on #361
I think the [project](https://coffeateam.github.io/coffea/api/coffea.hist.Hist.html#coffea.hist.Hist.project) takes `overflow`. So `h.project('x', overflow='all').values()` should probably work?

[2020-10-28 14:27] andrzejnovak commented on #361
Ah yes, sorry. I'm getting confused between the conventions here/hist/uproot again

[2020-10-31 16:33] lgray commented on #355
@kondratyevd which spark version are you using here?

I think the underlying issue is that in spark mode the virtual arrays are sort of spoofed and then backed by arrow buffers.
I'll see if I can't come up with a better solution.

In the mean time if you can make a minimum reproducer (preferably on your laptop) it'll help in making a test and figuring out the solution.

[2020-11-02 17:47] kondratyevd commented on #330
https://github.com/CoffeaTeam/coffea/pull/362 solves this I believe

[2020-11-02 17:54] nsmith- commented on #330
Thanks, I had not made that connection.

[2020-11-07 19:16] lgray opened #367 "Order of operation dependent failure in either ak1 NanoEvents or awkward1"
Order dependence in valid math where one array is of fairly complex structure.
I can work around this for now, but obviously this is not desirable.
Here is a minimum repro when using coffea, I haven't dug into an ak1-only repro.

@nsmith- @jpivarski

[code]

[code]

[2020-11-07 19:20] lgray commented on #367
FYI in this repro

gen_pt is a:
[code]

and jetPt is a:
[code]

[2020-11-15 20:05] lgray commented on #367
Fixed in next awkward release.

[2020-11-15 20:05] #367 closed, assigned to nobody

[2020-11-16 18:19] alexander-held opened #369 "File-dependent processor behavior"
**Describe what you want to do**
How do I best deal with a scenario where I have some classes of files, and the processing to extract a histogram for each class differs slightly? I could write different processors for each class. Alternatively, how much does a processor know at runtime about the file it is processing? Could I use any information at runtime for file-dependent processing?

An exampl

[2020-11-16 18:24] #361 closed, assigned to nobody

[2020-11-16 19:25] lgray commented on #369
Forwarding the answer from @andrzejnovak in slack:

Essentially, a lot of this can be solves by annotating your dataset with metadata, which can be introduced per-set-of-files.

However it looks like there's not a nice way of introducting metadata from `run_uproot_job` beyond dataset names and a few other things.... Do we need annotation more rich than that?

[2020-11-19 18:30] alexander-held commented on #369
Thanks! I can see how to propagate custom metadata for `NanoEventsFactory.from_file`, and I guess there is no equivalent for `run_uproot_job`. I wonder whether it makes a lot of sense to add it to that though. If I wanted metadata that differs between files, I may have to split them into groups and run `run_uproot_job` multiple times, which does not seem ideal either. Maybe the easiest way is to d

[2020-11-19 19:07] andrzejnovak commented on #369
IMO the data/MC differentiation is easy enough. It's not like checking the metadata is any faster/easier than checking if a branch/field exists in the file/df/awkard. OTOH it's easy enough to imagine you'd want to do some run specific adjustments and that might not always be obvious from something automatically available like the dataset name.

[2020-11-20 17:01] andrzejnovak opened #370 "File/entries error annotation printed twice"
@pfackeldey There is some duplication in the error message after your changes

<details>

[code]

</details>

[2020-11-20 21:45] kondratyevd commented on #355
Sure, I've made a reproducible example on my laptop.

Software:
`coffea 0.6.46`
`java 1.8.0`
`pyspark 2.4.5`

Environmental variables:

[code]

Processor (located in `coffea/processor/test_items/NanoEventsProcessor.py`):

[code]

Main code:

[code]

[2020-11-23 19:24] lgray commented on #355
Hi Dmitry,

Thanks I'll see what I can do to fix this up.

[2020-11-24 17:17] jrueb opened #372 "RuntmeError: undefined operation when slicing NanoEventsArray"
**Describe the bug**
Slicing after the events are masked but before the specific branch is loaded raises a RuntimeError. If the branch has been loaded, no error is raised. I am not sure however if this is rather a bug for awkward instead of coffea.

**To Reproduce**
[code]
The last line raises the following error:
`RuntimeError: undefined operation: VirtualArray::getitem_next(at)`

Tested in coffe

[2020-11-24 18:03] nsmith- commented on #372
There seems to be a missing implementation for getitem when the layout is virtual(listoffset(numpy)) for some reason. @jpivarski should I just forward this bug report to awkward?

A workaround is to force materialization, e.g. via `scale = (events_cut["LHEScaleWeight"] + 0)[:, 7]`

[2020-11-24 19:35] jpivarski commented on #372
This operation is not supposed to be defined; it's supposed to materialize the array and pass `getitem_next` to it. This might be failing because field-slices remain unmaterialized now. I'm looking into it.

[2020-11-24 21:26] jpivarski commented on #372
This is being deployed as [awkward1==0.4.5](https://github.com/scikit-hep/awkward-1.0/releases/tag/0.4.5).

[2020-11-26 17:06] jrueb commented on #372
Works nicely, thanks.

[2020-11-26 17:06] #372 closed, assigned to nobody

[2020-11-26 19:36] mat-adamec opened #374 "Error when using NanoEvents.from_file()"
**Describe the bug**
It seems like NanoEvents.from_file() has changed its behavior between coffea 0.6.40 and 0.6.46, and now gives an error when I try to read a file through it: `ValueError: Can only mixin methods deriving from awkward Methods ABC`. I have tried this with various files, but the error seems to persist.

**To Reproduce**
A simple example can be found in notebook.ipynb, in [this repo

[2020-11-30 16:07] scarletnorberg opened #375 "A bug was found in coffea.Release v0.6.46 skipbadfiles true"
**Describe the bug**
When using 'skipbadfiles':True, the code will skip over the current input files. The order of the code was changed recently in order to fix a different bug: https://github.com/CoffeaTeam/coffea/commit/97f26761e0e52d023c290f811e259edab9aa14de
This in turn then lead to the logic error.

**To Reproduce**
Steps to reproduce the behavior:
1. Set 'skipbadfiles':True,

**Expected beh

[2020-11-30 17:11] nsmith- commented on #375
@andrzejnovak does this make sense to you? I think the original ordering with the addition of a check if the return value of the populate function is None is the fix.

[2020-11-30 17:45] andrzejnovak commented on #375
I don't see a reason the conditions should be together, might help readability.

IIRC the reason for  [97f2676](https://github.com/CoffeaTeam/coffea/commit/97f26761e0e52d023c290f811e259edab9aa14de) is that [this](https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/executor.py#L1079) chunk was crashing if it ran on a bad file or was causing a crash further down the line.

I am not sur

[2020-12-03 00:06] Keane-Tan opened #377 "A bug was found in coffea.XYZ"
**Describe the bug**
Coffea could not handle the "TriggerNames" branch in the ntuples made with an older TreeMaker.
The following line in dataframe.py seems be the source of the problem? :
array = [self._tree[key].array(**self._branchargs)]

**To Reproduce**
Steps to reproduce the behavior:
1. Download the code in the this link (https://github.com/Keane-Tan/Test/blob/new/analyze_simplified.py) and

[2020-12-04 20:28] kpedro88 commented on #377
Reading `vector<string>` should work in uproot: https://github.com/scikit-hep/uproot3/issues/32
So maybe it's a problem with the `LazyDataFrame`...

[2020-12-07 21:41] fiemmi opened #379 "Problem with coffea 0.6.46: ModuleNotFoundError: No module named 'awkward.array'"
**Describe the bug**
Dear all, I installed coffea by doing `pip install coffea --use-feature=2020-resolver`. Everything went smoothly and no errors were prompted. Still, it seems something is happening with the dependencies, since a line of code as simple as `from coffea import hist` gives me the following error:

[code]
To me, it seems the problem is related to uproot-methods and awkward. uproot-

[2020-12-07 22:21] nsmith- commented on #379
This is a side-effect of the awkward-array renaming that recently finished. I had prepared a patch in https://github.com/CoffeaTeam/coffea/pull/378 but did not create a new release. Doing so now. When coffea 0.6.47 is available it should not have this issue

[2020-12-07 22:34] fiemmi commented on #379
Dear @nsmith-,

thanks a lot for the quick reply. It's good to hear that the issue is not related to any local problem on my side. Is there an estimated timescale for the new coffea release?

Thanks a lot for your help, cheers,
F.

[2020-12-07 22:46] nsmith- commented on #379
Looks like it's out on pypi already: https://pypi.org/project/coffea/ (if you used `pip install coffea`)
Conda should follow shortly (if you used `conda install coffea`)

[2020-12-07 23:02] nsmith- commented on #377
Looks like, surprisingly, an xrootd issue:
[code]

If I open the file using the fuse mount:
[code]
My guess is that the arrangement of baskets in this file causes some unusual vector read to be called by uproot that xrootd then chokes on. If I use the xrootd source that doesn't use vector reads, then it works ok:
[code]
This is similar but probably not the same as https://github.com/scikit-hep/upr

[2020-12-07 23:12] nsmith- commented on #377
Unrelated to the original issue, I did notice a loop over events in your example file, which is generally not very performant. You can replace the lines
[code]
with `tPassedList = ak.from_awkward0(triggerPass.localindex[triggerPass==1])`

[2020-12-07 23:16] jpivarski commented on #377
To be sure that this isn't missed, "local index" exists in Awkward 1 now, too: [ak.local_index](https://awkward-array.readthedocs.io/en/latest/_auto/ak.local_index.html).

[code]

[2020-12-07 23:33] nsmith- commented on #377
True, that also works. In fact, the awkward1 version of triggerNames is much more useful, however the coffea dataframe is, for compatiblity reasons, turning all the output into awkward0 arrays so we lose this.
For example, if you reach under the hood and grab the ak1 triggerNames, the following code can be used to directly evaluate if a given trigger path fired per event in a vectorized fashion:
[

[2020-12-07 23:35] kpedro88 commented on #377
@nsmith- in newer ntuple versions, TriggerNames is no longer a branch, but specified as metadata for TriggerPass (ala nanoAOD).

[2020-12-08 09:30] fiemmi commented on #379
Hi @nsmith-,

as a followup, I confirm that installing coffea 0.6.47 solves the issue. Thanks a lot!

[2020-12-08 13:57] #379 closed, assigned to nsmith-

[2020-12-10 18:40] nsmith- opened #382 "Disable cross-reference errors in NanoAODSchema"
**Is your feature request related to a problem? Please describe.**
Sometimes, due to a skim step, certain collections are dropped but not the cross-ref branches. This makes it impossible to open with NanoEvents using the default NanoAODSchema.

**Describe the solution you'd like**
Set a class member option to turn https://github.com/CoffeaTeam/coffea/blob/master/coffea/nanoevents/schemas.py#L225 i

[2020-12-10 18:47] andrzejnovak commented on #382
be good to have things like this in "Discussions" as community support if it's not something that will get fixed soon

[2020-12-13 16:27] #328 closed, assigned to nobody

[2020-12-15 00:39] kondratyevd opened #384 "How to update a slice of NanoEvents branch (using awkward1)?"
**Describe what you want to do**
I would like to update a branch (or create a new one), where the updated values are only assigned to a ***slice*** of the original branch. The slice is defined via a jagged boolean mask. I understand that `__setitem__` will not work in this case.

Example of what I want to achieve:

[code]

[2020-12-15 01:48] lgray commented on #384
Awkward1 doesn't allow in-place updates, so you'd have to alter your pattern a little bit.
I'd use ak.where.

[code]

[2020-12-15 02:04] lgray commented on #357
This should be fixed now with updates to awkward.

[2020-12-15 02:04] #357 closed, assigned to nobody

[2020-12-15 02:05] lgray commented on #345
Has since been fixed.

[2020-12-15 02:05] #345 closed, assigned to nobody

[2020-12-15 02:09] lgray opened #385 "Add awkward1 support to spark executor"
Starting from #355 there was a request to have the spark executor be able to use awkward1.

This requires adding the appropriate functionality to the UDFs to produce awkward1 arrays, similar to what's there for awkward0 right now.

[2020-12-15 02:09] lgray commented on #355
The solution here, in talking to Dmitry, is to probably move to awkward1 where the pattern isn't possible in the first place.

This means SparkExecutor needs to be updated for compatibility for awkward1 and awkward1 NanoEvents.
Making a new issue for that.

[2020-12-15 02:09] #355 closed, assigned to nobody

[2020-12-15 21:56] kondratyevd commented on #327
@lgray the new implementation via `JECStack` (https://github.com/CoffeaTeam/coffea/pull/364) fails for DATA when I try to build `name_map`.
In this case the opposite happens – for DATA, JEC is specified and JER is unspecified.

I believe a check similar to the one quoted below for `self._jer` and `self._jersf` would fix it.
And I guess the same for `self._junc` will not hurt.

https://github.com/C

[2020-12-22 19:06] kmohrman opened #394 "Question about an error with coffea 0.6.49"
**Describe what you want to do**
Hi @nsmith-
I have a question about an error I am seeing with coffea 0.6.49. I've attempted to make a "minimal reproducible example," and put it in this GitHub repository [1]. I'm not sure if I'm just doing something wrong, or if this is maybe related to the coffea version? Thanks!
[1] https://github.com/kmohrman/coffea-mre

[2020-12-23 00:06] mat-adamec commented on #374
This problem seems to be fixed with coffea 0.6.49. I get a deprecation warning for awkward0, but am able to use NanoEvents again.

[2020-12-23 00:06] #374 closed, assigned to nobody

[2020-12-23 20:00] areinsvo opened #395 "Bug in delta_r coffea.0.6.47"
**Describe the bug**
delta_r does not work if the second array is also nested.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Output**
Error message:
[code]
**Desktop (please complete the following information):**
 - OS: SL7 on the LPC
 - Version 0.6.47

**Additional context**
My temporary workaround is to define my own method using ak.cartesian:
[code]

[2020-12-24 03:09] lgray opened #396 "Tracking issue for 0.7.0"
- [x] remove awkward0 and related coffea subpackages (analysis_objects, arrays, nanoaod)
- [x] minimize use of uproot3
- [x] resurrect all pertinent tests
- [x] accuracy tests in addition to functionality tests for ak1 jetmet tools (possibly backport as well)
- [x] migrate JME tools to newer/common lookup tools backends
- [x] update binder examples and any ak0 specific documentation

@aperloff @ko

[2020-12-24 03:51] lgray commented on #394
So I tested this and we just don't handle weights when they're single numbers. The fix is fairly straightforward (np.atleast_1d).

I'd also note that filling histograms with single numbers is not how you'd typically be filling them when using coffea, so this is a unlikely corner case.

[2020-12-24 04:14] lgray commented on #394
I'll make a release for this - 0.6.50 where it will be fixed.

[2020-12-24 04:18] #394 closed, assigned to nobody

[2020-12-24 05:01] lgray commented on #384
Closing this, reopen this if you need a different solution!

[2020-12-24 05:01] #384 closed, assigned to nobody

[2020-12-24 05:03] lgray commented on #370
@pfackeldey can you please take a look at this? (after the break, of course) :-)

[2020-12-24 05:05] lgray commented on #375
Did this reach any sort of resolution?

[2020-12-24 05:06] lgray commented on #377
Did this issue reach any sort of resolution?

[2020-12-27 21:33] lgray commented on #395
@areinsvo The answer here is in two parts.

You probably want to use this for finding the nearest deltaR match? For that specific case there is now the `nearest` function.
https://github.com/CoffeaTeam/coffea/blob/master/coffea/nanoevents/methods/vector.py#L420
You would use it like:
[code]
This will return to you a list of best matching candidates according to some metric. The default metric is d

[2020-12-27 22:36] lgray commented on #395
I went ahead and made a new function called `metric_table` that does the more general operation, and it will be included with #386.

If you need a backport of this to 0.6.x let me know.

[2020-12-28 02:29] lgray commented on #280
This is fixed in #364 with the CorrectedJetFactory and CorrectedMETFactory.

However, it requires updating to awkward 1.0.

[2020-12-28 02:29] #280 closed, assigned to nobody

[2020-12-28 02:37] lgray commented on #322
@jdulemba This is fixed in the new CorrectedJetFactory and CorrectedMETFactory. These require updating to awkward 1.0 but are significantly better implementations.

The JetTransformer is deprecated so we're not gonna fix this.

[2020-12-28 02:37] #322 closed, assigned to nobody

[2020-12-28 06:28] lgray opened #402 "Proposal for "tacking" package"
This proposal stems from looking into [luigi](https://github.com/spotify/luigi) and things based on it like [law](https://github.com/riga/law), as well as [prefect](https://github.com/PrefectHQ/prefect) and realizing none of them really want to work at the granularity of task that we typically want to define within coffea. Moreover, they're all pretty heavy frameworks, and we want to achieve somet

[2020-12-28 18:23] lgray commented on #347
So going back through issues recently, there are a few such issues where there's something pretty useful/convenient that's not generalizable but work well enough if you agree to certain conventions.

I think it is fundamentally useful to collect things like this, because I'm quite certain people asking for these features are not alone, and we want to reduce the amount of copy/pasta running around.

[2020-12-28 18:37] andrzejnovak commented on #347
I thought medium to long term you expect coffea to fill `hist` histograms, which is where this could be discussed. IMO coffea should be exporting to easily plottable format, rather than handling the plotting because otherwise, you end up writing something much more complex than is being solved.

In this particular case `coffea.histogram` -> coupled lists of histgrams/binnings/identifiers -> `mplhe

[2020-12-28 18:52] lgray commented on #347
Concerning hist - we do, and I think what you pose as a solution is the right way to go. It'll be a post 0.7.0 development unless you make a good reason on #396. It may mark 0.8.0 since I imagine there will be breaking changes at some level, or backwards compatibility will be a pain.

Thinking about it, making the plotting interface in coffea as thin as possible, approaching what you're suggesting

[2020-12-29 19:42] areinsvo commented on #395
To document: the `nearest` function does what I need it to do, in combination with `ak.fill_none` to deal with events with 0 photons. I'll go ahead and close this issue.

[2020-12-29 19:42] #395 closed, assigned to nobody

[2020-12-31 22:14] nsmith- commented on #377
From https://github.com/CoffeaTeam/coffea/issues/377#issuecomment-740233257 I claim the bug is actually in the vector-read xrootd source in uproot. @jpivarski do you agree?

[2020-12-31 23:57] lgray commented on #402
@nsmith- would appreciate commentary here.

[2021-01-01 00:17] #385 closed, assigned to nobody

[2021-01-01 20:55] nsmith- commented on #205
@jrueb does this tool satisfy your needs? https://coffeateam.github.io/coffea/api/coffea.btag_tools.BTagScaleFactor.html (in particular the `eval` function) If so, we can close this issue I think.

[2021-01-04 20:29] lgray commented on #396
@nsmith- can you check there's no documentation referencing ak0 specifically? Then we can check off the last item.

[2021-01-06 17:07] ivotron commented on #396
hi @nsmith- and @lgray , quick question/follow-up regarding arrow/parquet. Will it be possible to read parquet (nanoevent) files through arrow's [dataset API](https://arrow.apache.org/docs/python/dataset.html)? thanks!

[2021-01-06 17:13] lgray commented on #396
If you can make an example of the data that's generated we can check?
If the dataset api spits out arrow tables you're likely very close to done.

[2021-01-06 17:16] ivotron commented on #396
we actually don't have data in parquet already. Is it possible to convert from root to parquet and then read those?

[2021-01-06 17:17] lgray commented on #396
Yep, you should be able to sanely transform root into parquet with uproot + awkward now.
The issues with correctly preserving nullability are fixed (so far as we know).

NanoAOD shouldn't be a huge deal.

[2021-01-06 17:26] nsmith- commented on #396
Looked around for awkward 0 stuff, and only found an old link and updated it in https://github.com/CoffeaTeam/coffea/pull/403/commits/5afc91815b256366f8e988ef39757347f54b5359

[2021-01-06 18:01] lgray commented on #396
awkward0 doesn't convert things in a sane way for our purposes (the nullability and some other stuff is all wrong).

Probably better to cook an awkward1 converter and stick it in util.

[2021-01-08 23:42] nsmith- opened #409 "Photon mass is broken on empty nanoevents"
For example: `events[[]].Photon.mass` is an error because awkward cannot broadcast at
https://github.com/CoffeaTeam/coffea/blob/master/coffea/nanoevents/methods/nanoaod.py#L218

One fix might be `ak.zeros_like` but it seems to copy parameters:
[code]

Otherwise an if statement could work

[2021-01-11 15:15] oshadura opened #412 "Can't install coffea 0.6.50 via pip with Python 3.9.1"
**Describe the bug**
Can't install coffea 0.6.50 via pip with Python 3.9.1

**To Reproduce**
Steps to reproduce the behavior:
1. Running 'pip install coffea'

**Output**
[code]

**Desktop (please complete the following information):**
 - OS: Manjaro

[2021-01-11 15:20] andrzejnovak commented on #412
Isn't this just complaining you can't install numpy in `3.9` yet?

[2021-01-11 15:21] oshadura commented on #412
Manually updating `numpy` doesn't help:

[code]

[2021-01-11 15:30] oshadura commented on #412
@andrzejnovak  I beileve I can, I checked and it works...I just can't understand what is wrong then with it as coffea dependency.
(Sadly Manjaro got an official update and I didn't think before to install it :+1: )

[2021-01-11 15:37] oshadura commented on #412
@nsmith- do you know from where are coming ` markers 'python_version < "3.7"'`?

[2021-01-11 15:38] andrzejnovak commented on #412
Coffea seems to be pulling a fixed version  `Collecting numpy==1.16.0`  My guess is that version will be still incompatible with `3.9` .  However, in setup only greater than is specified `'numpy>=1.16.0',` Could be some dependency is limited to old numpy, weird as that may be?

[2021-01-11 15:47] #409 closed, assigned to nobody

[2021-01-11 15:51] andrzejnovak commented on #412
You look like pyarrow is the culprit. `pip install pyarrow` fails in 3.9 even by itself.

[2021-01-11 15:53] oshadura commented on #412
ah! you are totally right!

[2021-01-11 16:06] oshadura commented on #412
Update: I opened issue at Apache Jira https://issues.apache.org/jira/browse/ARROW-11207

[2021-01-12 08:48] oshadura commented on #412
From Arrow Jira: ''The next release will support Python 3.9.
You can use nightly build for now: https://arrow.apache.org/docs/python/install.html#installing-nightly-packages"

[2021-01-12 08:48] #412 closed, assigned to nobody

[2021-01-13 20:55] kpedro88 opened #416 "Incomplete logic in dask_executor"
**Describe the bug**
Using `dask_executor` with `schema = None` and `use_dataframes = False` (Default) fails with the following exception:
[code]

**To Reproduce**
Run the python script here: https://gist.github.com/kpedro88/e166d47ea6cf4fa4069b32a67774727a

**Expected behavior**
Using a processor that returns e.g. `dict_accumulator` should be supported whether or not a schema is employed.

**Outp

[2021-01-13 21:49] lgray opened #418 "Deal better with extra empty dims coming out of JECs."
Some JEC file parsers return extra empty dims for unknown reasons. These currently require a `.squeeze()` it would be better to avoid the empty dims entirely.

[2021-01-13 21:50] lgray opened #419 "RNG for JER smearing should be deterministic use some repeatable local seed."
as in title

[2021-01-15 17:13] jrueb commented on #205
Sorry for the late reply. `BTagScaleFactor` looks really good. I have a small request though. Would it be possible to have the `systematic` parameter of `eval` and `__call__` be split up into jet flavor, so that for example it becomes possible to set the correction to "up" only for light flavor jets? In my analysis I have to treat systematics from light jets independently.

[2021-01-15 18:25] nsmith- commented on #205
@lgray that's exactly the division I think we should maintain going forward: `lookup_tools` is generic, and then the object-specific tools that are a bit easier to use go in `btag_tools`, `jetmet_tools`, etc.

@jrueb would doing something like this work for you?
[code]
The nice thing is then you only run the SF evaluation (somewhat expensive) once and then separate it later.
A note on memory perfo

[2021-01-15 23:51] nsmith- commented on #377
FYI https://github.com/scikit-hep/uproot4/pull/243 may potentially solve this issue

[2021-01-16 20:19] #416 closed, assigned to nobody

[2021-01-18 13:59] andrzejnovak opened #424 "Add a list of helper methods"
I've just wasted half an hour implementing a golden json parser, only to find out I could have just taken it from Coffea.

Having this in some simple list in the readme of common utils that are available would prevent that.

[2021-01-19 17:19] jrueb commented on #205
@nsmith- That looks good. Thank you!

[2021-01-19 17:34] #205 closed, assigned to nobody

[2021-01-25 18:55] nsmith- commented on #382
The fix in https://github.com/CoffeaTeam/coffea/pull/386/files#diff-2762b5d5dc6bb2519c3e0d2e366f71f1d2f896b478691f048d3560a4ce71294fR133 is missing a `continue` after the warning to skip generating the offsets

[2021-01-26 19:16] #382 closed, assigned to nobody

[2021-01-26 22:59] pfackeldey commented on #370
Hi @andrzejnovak @lgray ,
sorry for getting so late to this.

The related PR is here: https://github.com/CoffeaTeam/coffea/pull/360
The intention of my PR was to use directly pythons exceptions chain syntax, since the old implementation assumed that the constructor of *every* exception is called in the same way. I thought this was not the safest way and is directly fixed through exception chaining

[2021-01-31 15:46] Duchstf opened #433 "binwnorm bug in coffea.hist.plot1d"
**Describe the bug**
I encounter this bug when trying to normalize bins in `hist.plot1d`

[code]

**To Reproduce**
I defined the histogram as the following:

[code]

And then plot the distribution like this:
[code]

It works when I remove `binwnorm = 1`

According to [this thread](https://stackoverflow.com/questions/47493559/valueerror-non-broadcastable-output-operand-with-shape-3-1-doesnt-match-t

[2021-01-31 16:25] andrzejnovak commented on #433
@Duchstf I am not able to replicate this. Can you pass python/coffea/mplhep/matplotlib/numpy versions?
![image](https://user-images.githubusercontent.com/13226500/106390565-43259b80-63e9-11eb-8f45-8485192419dc.png)

[2021-01-31 16:41] Duchstf commented on #433
Hello,

Thank you for looking into this. Here are the versions:

[code]

[2021-01-31 16:53] andrzejnovak commented on #433
Ok, both coffea and mplhep have newer versions, could you upgrade them and let me know if the problem persists?

[2021-01-31 18:43] Duchstf commented on #433
This works!! Thank you for your help!

[2021-01-31 18:43] #433 closed, assigned to nobody

[2021-02-01 17:28] andrzejnovak opened #434 "Slow accumulator adding"
With sufficient computing power, the accumulator addition becomes the limiting factor.

In my current setup, ~8000 chunks are processed within a few minutes, but since https://github.com/CoffeaTeam/coffea/blob/b7fe7ea6812cab52b4b84f443dba8ec78430c7dc/coffea/processor/executor.py#L189 takes about 1s per chunk, more walltime is spent on adding than actual processing. Could this be parallelized?

[2021-02-02 09:20] andrzejnovak opened #438 "skipbadfiles to pass AuthError through"
`skipbadfiles=True` (often defaulted to) when the files are inaccessible due to Auth will not display any errors and return empty accumulator, which is very intransparent for new users to debug. Not ignoring auth error should not affect functionality

[2021-02-03 15:52] danbarto opened #440 "Attribute error when loading root file with TGraphErrors in add_weight_sets"
**Describe the bug**
If the root file with scale factors contains TGraphErrors objects an Attribute error will be thrown because the object has no axes:

[code]

This happens even if the TGraphErrors object is not used.

**To Reproduce**
[code]
TnP_loose_ele_2016.root  has to contain a TGraphErrors object.
EGamma_SF2D is just a usual TH2D.

**Expected behavior**
Just ignore the TGraphErrors object

[2021-02-03 17:08] nsmith- opened #441 "processor.PackedSelection and weights need deprecation"
Ak1 versions are available at  https://coffeateam.github.io/coffea/modules/coffea.analysis_tools.html
but the processor submodule has older versions that don't work with awkward1.

[2021-02-03 21:53] nsmith- commented on #440
I agree, it looks like we should not access these attributes before checking the type supports them. A PR would be welcome!

[2021-02-04 23:22] andrzejnovak opened #443 "Collect (skipped)filenames in metrics"
There should be a way to collect processed files / skipped files (probs in `metrics`).

Use case running jobs over xrootd with transient failures. Might want to rerun failed files later without redoing the whole production, cc @jennetd.

[2021-02-05 17:35] #370 closed, assigned to nobody

[2021-02-08 16:28] jrueb opened #445 "Extending Nanoevents vector"
(Continued from the mailing list)
The classes in `coffea.nanoevents.methods.vector` are still missing some common functions. What I have in mind here

- Subtractions, just like there is addition for two vector objects
- Division with numbers, just like there is multiplication
- Dot product
- `ThreeVector.cross`, returning the cross product with another `ThreeVector`
- `TwoVector.unit` and `ThreeVe

[2021-02-08 19:15] nsmith- commented on #445
Proposals for `LorentzVector.p3` replacement: `vecp` or `pvec` or `momentum`

[2021-02-08 19:19] lgray commented on #445
`spacelike` is more general terminology would prefer that sort of direction
and
`myvector.spacelike` doesn't take too much to type.

[2021-02-08 19:23] nsmith- commented on #445
Isn't `spacelike` already taken as a boolean to indicate whether `mass2 < 0` ?
Also, inviting @henryiii to the discussion

[2021-02-08 19:34] lgray commented on #445
Ah yeah there's an unfortunate convergence of slightly different, but related, concepts in the same words.

Could also do `spatial` and `temporal`.

[2021-02-09 10:58] jrueb commented on #445
There don't seem to be unit tests for the vectors yet. I will also add some tests for this.

[2021-02-11 11:56] andrzejnovak opened #451 "Adding processor boilerplate"
There is quite a lot of boilerplate code that needs to be setup for nearly everything.  It would be really convenient if there was a module either creating a new file or just printing out a basic setup sth like. `print(coffea.processor.boilerplate)` Ideally this would be tied to an example in the docs, so that it would be kept up to date

[code]

[2021-02-12 15:04] #445 closed, assigned to nobody

[2021-02-12 17:28] nsmith- opened #454 "Deterministic jet smearing"
We'll need to find an approach to ensure that CorrectedJetsFactory builds JER-smeared jets in a repeatable way.
Options include:

- Seed once per chunk (will only be deterministic for the same chunk splitting)
- Seed once per event (too expensive in numpy, maybe a numba method could produce the RNG value quickly)
- Directly construct a random number by hashing some set of event and jet attributes

[2021-02-15 19:32] #438 closed, assigned to nobody

[2021-02-16 23:43] aperloff opened #455 "Bug found with JEC/JER lookup tools (coffea.lookup_tools.jme_standard_function.py)"
**Describe the bug**
There is a specific corner case which will cause a problem for the JEC/JER lookup tools. All of the jet tools rely on lookup tables, where there are binned and un-binned variables. This behavior is specified in `coffea.lookup_tools.jme_standard_function.py::_evaluate`.

When asked about a jet with properties outside of the range of validity for the un-binned variables, the cor

[2021-02-18 09:28] andrzejnovak commented on #434
@lgray Any chance you could take a look? I tried but couldn't get a reducer function pickleable for parsl

[2021-02-23 14:10] jrueb opened #461 "Output of FactorizedJetCorrector.getCorrection has too many dimensions"
**Describe the bug**
When only events with 0 jets are selected and one tries to use `FactorizedJetCorrector` to get jet corrections for these events, there will be a dimension too much in the result of `getCorrection`. The corrections need to have `parms`.

**To Reproduce**
[code]
Using the correction file from here https://github.com/cms-jet/JECDatabase/blob/master/textFiles/Autumn18_V19_MC/Autum

[2021-03-01 22:26] nsmith- commented on #441
Apparently I already did this.

[2021-03-01 22:26] #441 closed, assigned to nobody

[2021-03-04 16:43] nsmith- opened #465 "dask executor should not use scatter"
The problem is that it has a 10s timeout to find workers and isn't really designed for adaptive deployments since it won't find a worker. See https://github.com/dask/distributed/issues/2454
One workaround is to always use a minimum worker count in adaptive deployment, but this is not ideal.

[2021-03-04 16:58] nsmith- commented on #465
Also this may be the reason the scheduler dashboard crashes when looking at the task graph. See https://github.com/dask/dask/issues/5503 for that long-standing issue

[2021-03-09 22:29] kondratyevd opened #466 "ak.where() in Rochester lookup crashes for arbitrary input files"
**Describe the bug**
Rochester correction crashes for some (seemingly random) files in the dataset.
The error log (see below) directs to `ValueError: in ListOffsetArray64` error raised by `awkward`, and in Coffea it originates from this line: https://github.com/CoffeaTeam/coffea/blob/72f0bf0cc8f54710d2c9985aae18c1b697b72bd7/coffea/lookup_tools/rochester_lookup.py#L246

If a file (2M events) is spl

[2021-03-10 16:13] jpivarski commented on #466
Since this error is saying that the shapes don't match, the first thing to check would be to see if the structures match using [ak.num](https://awkward-array.readthedocs.io/en/latest/_auto/ak.num.html) with each `axis` value ("do they all have the same number of items at the first level? at the second level? etc.).

The first red flag is that

https://github.com/CoffeaTeam/coffea/blob/72f0bf0cc8f5

[2021-03-10 17:10] kondratyevd commented on #466
I checked that the arguments that I give to `rochester.kSmearMC()` all have consistent shapes by each axis.

I also tried `ak.ones_like(x)` and `1` instead of `ak.ones_like(kpt)`, but the behavior did not change.

@lgray are you able to reproduce this error on your side?

[2021-03-11 02:10] nsmith- commented on #466
I can reproduce the error with awkward `1.0.2` but **not** with `1.2.0rc2`. Can you try updating awkward?

[2021-03-11 20:38] kondratyevd commented on #466
@nsmith- Thanks for checking, but unfortunately upgrading `awkward` does not solve the problem.

Indeed, the error disappears if I use `1.2.0rc2`, *for this input file*. The same error somehow re-appears for other files!

Try this one:
[code]

[2021-03-17 15:49] mat-adamec opened #468 "Dask doesn't like NanoAODs with bad cross-references"
**Describe the bug**
I am trying to use the newest version of coffea with Dask on a NanoAOD with messy cross-references (i.e., Electron_genPartIdx exists but GenPart does not). On futures, I could use:

`NanoAODSchema.warn_missing_crossrefs = True`

as a fix. On Dask, this does not seem to work, and the error of:

`RuntimeError: Parsing indexer Electron_genPartIdx, expected to find collection GenP

[2021-03-18 09:25] oshadura commented on #468
cc: @nsmith-

[2021-03-18 13:04] oshadura commented on #465
I will recheck if we see the same problems on coffea-casa

[2021-03-18 14:40] nsmith- commented on #468
Here is what I was originally thinking as a more effective patch:
[code]
but while testing it I found actually a simpler method:
[code]
I guess with the distinction that the callback is a simple function where the plugin could in theory hold state.

[2021-03-22 15:58] kondratyevd commented on #466
I noticed that `kSmearMCerror` causes the same error, but more consistently - for any input file.

[2021-03-24 16:39] martindurant opened #471 "Dask IO workshop at the dask summit"
http://summit.dask.org/

I am organising an IO workshop at the Dask Distributed Summit. Would someone here be interested in talking about physics and nested data processing with Dask? Particularly we like to see a range of use cases and workflows, and would particularly like to see new and diverse set of faces. You are welcome to simply submit talk proposals, or ping me directly if you would like

[2021-03-24 16:55] nsmith- commented on #471
Hi @martindurant in fact I have a tab open to submit an abstract since some time, and am definitely taking advantage of the fact the deadline was extended by a week :)

[2021-03-24 16:57] martindurant commented on #471
You are not alone :)

[2021-03-24 16:58] lukasheinrich commented on #471
where do I find this submission form? ;)

[2021-03-24 17:02] martindurant commented on #471
https://summit.dask.org/present/ for writing a standard talk proposal. I will, together with the programme committee, sort these into workshops (and I'll submit the workshop proposal myself). Since workshops are less formal than the main programme, we can make space for demos, dev snapshots, discussion, etc., and we can also add content after the deadline if need be.

[2021-03-26 03:18] nsmith- opened #473 "skyhook CI occasionally segfaults"
See e.g. one of the recent daily CI runs:
https://github.com/CoffeaTeam/coffea/runs/2162133600?check_suite_focus=true#step:3:1989
@JayjeetAtGithub

[2021-03-26 13:23] JayjeetAtGithub commented on #473
@nsmith- I see. Will try fixing it soon.

[2021-03-26 16:07] nsmith- commented on #471
I have submitted! "Analyzing particle physics data in the scientific python ecosystem"

[2021-03-26 16:56] martindurant commented on #471
Thanks!

[2021-03-26 16:56] #471 closed, assigned to nobody

[2021-03-26 19:19] alexander-held opened #477 "run_uproot_job fails with unclear error message when fileset specification is invalid"
**Describe the bug**
When calling `coffea.processor.run_uproot_job` with a `fileset` argument that does not follow the expected format (e.g. due to a typo), the resulting error message makes it difficult to track down the issue.

**To Reproduce**
Steps to reproduce the behavior:

Run the following script:
[code]
Due to the missing `treename` for the `background` dataset, the execution fails (outpu

[2021-03-26 22:03] JayjeetAtGithub commented on #473
#482

[2021-03-28 15:36] oshadura commented on #471
At the last moment, we submitted a short abstract about our experience using Dask in a high-energy physics analysis facility (combining multiple ways of launching resources, e.g. Dask Labextention and network connectivity challenges for Dask workers): "Challenges Designing Interactive Analysis Facilities with Dask". We hope it could be something interesting for the community.

[2021-03-28 20:48] alexander-held opened #479 "Passing custom fileset metadata through run_uproot_job"
**Is your feature request related to a problem? Please describe.**
The `fileset` argument in [`coffea.processor.run_uproot_job`](https://coffeateam.github.io/coffea/api/coffea.processor.run_uproot_job.html#coffea.processor.run_uproot_job) is used to specify dataset-specific information, like the dataset name and the name of the tree to use:
[code]
This is available as metadata in the processor via

[2021-03-31 20:51] #180 closed, assigned to nobody

[2021-04-01 22:57] #477 closed, assigned to nobody

[2021-04-02 21:37] #468 closed, assigned to nobody

[2021-04-02 22:09] #455 closed, assigned to nobody

[2021-04-03 01:04] #440 closed, assigned to nobody

[2021-04-03 05:06] JayjeetAtGithub commented on #473
@lgray @nsmith-  Looks like even by retrying 3 times, the OSD didn't boot in this [run](https://github.com/CoffeaTeam/coffea/runs/2256917612). So, something's wrong in the environment outside the container, probably the workspace that gets mapped into the container. Will try other solutions. Sorry for the continued trouble.

[2021-04-05 20:10] nsmith- commented on #465
Fixed in #476

[2021-04-05 20:10] #465 closed, assigned to nobody

[2021-04-05 20:28] kakwok opened #485 "ModuleNotFoundError in coffea.0.7.2"
**Describe the bug**
Fail to import certain module after upgrading to version 0.7.2

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 sl7 on LPC cluster

[2021-04-05 20:34] nsmith- commented on #485
Likely the issue is we have an improper version requirement for pyarrow in https://github.com/CoffeaTeam/coffea/blob/8c58807e199a7694bf15e3803dbaf706d34bbfa0/setup.py#L62
A workaround is to just update pyarrow, e.g. with `pip install --upgrade pyarrow`
@lgray @JayjeetAtGithub do you know what minimum pyarrow version do we need for `pyarrow.dataset` to be available?

[2021-04-05 20:55] nsmith- commented on #485
Actually I think some LCG releases distribute pyarrow < 1.0 and then this is the usual issue with LCG putting its python path in front of local virtualenv packages. There is a recipe in https://coffeateam.github.io/coffea/installation.html#creating-a-cvmfs-based-portable-virtual-environment using `LOCALPATH` to put the virtualenv back in front of `$PYTHONPATH` so the LCG release doesn't get in the

[2021-04-05 20:56] kakwok commented on #485
Yes! Setting the `LOCALTPATH` works! Thanks!

[2021-04-05 21:15] nsmith- commented on #485
Glad to hear! We should probably clarify our LCG-based installation since this is a familiar issue

[2021-04-05 21:15] #485 closed, assigned to nobody

[2021-04-05 23:39] kakwok commented on #485
If others are also using the `cvmfs-based` script + jupyter workflow, it's better to add the `$PWD` in the script to make sure jupyter will pickup the same local path

[code]

[2021-04-08 18:55] #454 closed, assigned to nobody

[2021-04-08 18:55] #461 closed, assigned to nobody

[2021-04-08 19:02] lgray commented on #419
Fixed in #484

[2021-04-08 19:02] #419 closed, assigned to nobody

[2021-04-10 10:22] maxgalli opened #493 "Error when plotting only one category (normalized)"
I'm getting an error (which in principle points to ```mplhep```) when trying to plot individual categories from multidimensional histograms. Here is a way to reproduce what I'm doing:
[code]

As you can see, the idea is quite simple. I define a multidimensional histogram with a ```Cat``` ```sample``` (that in principle should be either signal or background) and two ```Bin```s with variables ```var

[2021-04-10 11:18] andrzejnovak commented on #493
@maxgalli can you try upgrading everyting? coffea/mplhep/awkward/awkward1

I am not able to reproduce this
![image](https://user-images.githubusercontent.com/13226500/114268017-4186de00-99ff-11eb-8dd8-13ed5fab6a87.png)

[2021-04-10 12:51] maxgalli commented on #493
@andrzejnovak, thank you, it worked with the most recent version of ```mplhep``` (0.3.2)

[2021-04-10 12:51] #493 closed, assigned to nobody

[2021-04-12 16:47] aphecetche opened #498 "How do I create a schema for nanoevents"
I'd like to use NanoEvents to read some data which basically follows the branch naming convention but is not CMS data at all.
I assume I'd then need to build a custom schema to go beyond the basics (e.g. to offer tlorentzvector-like behavior for some items).
Are there some examples somewhere on how to do that (my Python is not very strong for the moment, so I could really use some guidance ;-) )

[2021-04-12 17:02] lgray commented on #498
You can start from the "BaseSchema" which should be able to ingest a fairly wide range of input files.

You can set the schema like this:
[code]

I'd start from there, and make sure that the core functionality of nanoevents can read the file.
Then you can build a new schema for your particular file format following NanoAOD and TreeMaker schemas as a guide.

[2021-04-13 14:07] lgray commented on #498
@aphecetche just following up on this - but was that enough to get you started along with the other documentation we have?

[2021-04-13 14:12] aphecetche commented on #498
@lgray Thanks for the follow-up. I did not get a chance to dig into it yet (besides adding an issue as a note to self ;-) ). Will do asap but that might mean a few days.

[2021-04-13 14:16] lgray commented on #498
Sure thing - feel free to ask questions, we're happy to help.

Our docs and examples are also pretty decent, so check those out too.
If you have any recommendations for how to improve them, please make suggestions!

[2021-04-13 14:54] lgray commented on #466
@kondratyevd can you try this again with the latest awkward? There's been a bit of bug-smashing in other directions, but maybe knock-on effects?

[2021-04-13 16:20] kondratyevd commented on #466
@lgray I have tested it with `coffea v0.7.2` and `awkward v1.2.2` - same result as before.

[2021-04-13 18:41] #418 closed, assigned to nobody

[2021-04-13 18:41] lgray commented on #418
Fixed in #484

[2021-04-13 19:55] #466 closed, assigned to nobody

[2021-04-14 20:20] nsmith- commented on #451
As of 0.7.2 we've managed to reduce the boilerplate a tiny bit: the new accumulator syntax allows us to drop the `accumulator(self)` property. At this point, in theory a single function can be turned into a processor so maybe if we provide a decorator like
[code]

I sketched the gen_processor impl. but may spend a bit more time to get it right

[2021-04-14 20:31] lgray commented on #451
Can probably even do it like the property decorator, embellishing:
[code]

[2021-04-14 20:47] nsmith- commented on #451
Well at that point we've come full circle, might as well just make `postprocess` optional and leave it class-style.

[2021-04-14 20:51] lgray commented on #451
Easier bookkeeping and less chance for error if it is part of the class, then it just moves around with it.

[2021-04-14 20:52] lgray commented on #451
Ah, thought you were saying something else... I mean, we should let people do that, it's still more pythonic and less boilerplatey this way.

[2021-04-19 19:20] lgray opened #510 "Follow up on #502 to overhaul FileMeta/WorkItem"
#502 is very hacky but solved the problem in the mean time.
It underlines that our dataset/file-description interface is just-above threshold for meeting user needs.

We should consider how to best re-write FileMeta/WorkItem such that it is more robust while being fairly descriptive.

@nsmith- suggested defining a json schema and such, I think it's a reasonable direction.

[2021-04-20 13:47] #479 closed, assigned to nobody

[2021-04-20 13:49] lgray commented on #369
Pretty flexible metadata annotation is now allowed in #502.

[2021-04-20 13:49] #369 closed, assigned to nobody

[2021-04-21 17:13] lgray opened #512 "2D Ratio Plot"
We are missing a straightforward interface for making 2D ratio plots, which is used in a variety scale factor measurements.
Specifically we should be able to have the values and errors printed in the cells, which is a convenient feature.

Example in slide 3 here:
https://docs.google.com/presentation/d/1zHNEhx1vSllyTh7tNRxZPkMIhZ3AkkA_lHTmDdwEUo8/edit?usp=sharing

[2021-04-21 17:26] lgray commented on #498
Hey - checking in again as it has been a few days and I'm curious - any successes or problems in this effort? @aphecetche

[2021-04-21 17:42] aphecetche commented on #498
@lgray unfortunately got busy with more urgent things, so no progress I'm afraid.

[2021-04-21 17:57] lgray commented on #512
Moved to https://github.com/scikit-hep/hist/issues/203

[2021-04-21 17:57] #512 closed, assigned to nobody

[2021-04-21 17:58] lgray commented on #498
No worries - thanks!

[2021-04-23 21:30] lgray opened #514 "Follow up on #448 - DAOD Schema"
Now that #448 is done, implement a suitable `nanoevents` schema for DAOD_PHYSLITE files.

@nikoladze

[2021-04-26 17:44] nsmith- commented on #377
Closing due to inactivity. Reopen if this is still an issue

[2021-04-26 17:44] #377 closed, assigned to nsmith-

[2021-04-26 17:44] lgray commented on #327
Wontfix + close due to new interfaces.

[2021-04-26 17:44] #327 closed, assigned to nobody

[2021-04-26 17:46] lgray commented on #15
Fixed by @aperloff in #483

[2021-04-26 17:46] #15 closed, assigned to nobody

[2021-04-26 18:01] lgray opened #515 "Add recoverable option implementation for dask"
This is a more general solution to #317 and #443.

@jrueb @andrzejnovak

Add a new opt-in feature that lets us always finish jobs, and reports failed chunks in a way that can be resubmitted and easily bookkept.

* reports files/chunks of bad jobs, instead returning a list of chunks and reasons in the `metrics` accumulator, always completes
* has some basic quality metrics to let people know if it'

[2021-04-26 18:02] lgray commented on #317
Now tracked in a more combined issue.

[2021-04-26 18:02] #317 closed, assigned to nobody

[2021-04-26 18:02] lgray commented on #443
Now tracked in a combined issue.

[2021-04-26 18:02] #443 closed, assigned to nobody

[2021-04-26 18:22] andrzejnovak commented on #515
Few points from recent experiences
- dask and parsl handle submission differently, which is not gonna be apparent to a new user and they have different caveats
  - dask submits reduce jobs, but for non-trivial accumulator sizes, these might need much more memory than the default processing job, so dask is stuck in last few percent just trying to resubmit them
  - parsl doesn't submit reduce jobs,

[2021-04-27 01:50] lgray opened #516 "rados parquet CI job fails because of trying to compile pyarrow???"
@JayjeetAtGithub please look into this and fix it! Thanks!

[2021-04-27 08:10] JayjeetAtGithub commented on #516
looking into it.

[2021-04-27 13:30] lgray commented on #516
Ah - I know what it is, they released pyarrow 4.0 yesterday. Wheels were probably still building when the CI ran and we got unlucky.
Closing this.

[2021-04-27 14:15] lgray commented on #516
Reopening this - it seems uglier than I thought. Lemme know what's up. :-) @JayjeetAtGithub

[2021-04-27 14:43] JayjeetAtGithub commented on #516
Can you please send the link of the failed run ?

[2021-04-27 14:46] lgray commented on #516
https://github.com/CoffeaTeam/coffea/runs/2448349673?check_suite_focus=true

[2021-04-27 15:58] JayjeetAtGithub commented on #516
Okay

[2021-04-29 22:23] andrzejnovak commented on #515
- executors could automatically save intermediate output if the accumulator grows too large for memory
  - maybe just warn by default, with an opt in flag

[2021-05-04 21:07] andrzejnovak opened #523 "Get pre-commit for black?"

[2021-05-11 20:05] ivukotic opened #525 "How do I disable 2020-resolver, it prevents me from installing coffea[servicex]"
it downloads all the versions trying to resolve dependency and always gets stuck here:
` Downloading lark-parser-0.6.5.tar.gz (258 kB)
     |████████████████████████████████| 258 kB 6.8 MB/s`
?

[2021-05-11 20:58] lgray commented on #525
Isn't this an issue with pip, not coffea?

[2021-05-11 21:04] ivukotic commented on #525
I think it would be avoided if servicex and coffea would have compatible requirements on lark-parser, no?

[2021-05-11 21:10] lgray commented on #525
Coffea does not directly depend on lark-parser, so it's in another library.

[2021-05-12 23:59] nsmith- commented on #525
[code]
gives no results. So I think it is a servicex issue.

[2021-05-12 23:59] #525 closed, assigned to nobody

[2021-05-21 13:48] nsmith- opened #530 "run_uproot_job should warn when chunksize is not respected due to align_clusters"
If `align_clusters` is True, then if a file has a particularly bad clustering, the chunksize may not be respected. This leads to user surprise when the events chunk is significantly larger than desired and may lead to memory issues during processing.
I think what should happen, is if files are detected that have bad clustering, to emit a warning if `align_clusters` is enabled, suggesting to turn i

[2021-06-02 18:09] kmohrman opened #534 "Opening text files as .gz files"
**Describe the bug**
This [if statement](https://github.com/CoffeaTeam/coffea/blob/2baae94028c38b59f0eb52127d8fb92840dbf23d/coffea/lookup_tools/txt_converters.py#L22-L30) in `txt_converters.py` evaluates to true when there is a `.gz` anywhere in the file path, even if the file is not a `.gz` file.

**To Reproduce**
To reproduce this behavior, one would need a path that includes `.gz`. For example,

[2021-06-02 21:46] #534 closed, assigned to nobody

[2021-06-07 13:40] nikoladze opened #540 "Tracking issue for PHYSLITE schema"
This is to track the TODO list/open questions for the PHYSLITE schema for nanoevents

- [x] Port ElementLink handling to awkward dask #872
- [ ] Add a test for a simple selection procedure involving several collections
- [x] Continue with global index forms or to use a different approach? #541
- [ ] Complete the list of mixin classes and add important methods
- ~~Make Records of Unions instead of

[2021-06-07 15:53] deinal opened #542 "Match SV to Jet in the PFNanoAODSchema"
It would be handy to be able to access the secondary vertex (SV) corresponding to a Jet the same way you can access particle flow candidate features in the PFNanoAODSchema:

[code]
So for example `events.Jet.matched_svs.sv` would yield `SV` features. The property `matched_svs` could be called differently if you have any good suggestions.

However, the branch `Jet_nSVs` needed [here](https://github

[2021-06-17 12:47] alexander-held commented on #104
I came across this old issue and wanted to add a bit of information based on progress in the last two years.

The [`cabinetry`](https://github.com/alexander-held/cabinetry/) library does something like this. Users specify the relevant information needed to build a HistFactory model (the type that `pyhf` supports). `cabinetry` turns that information into instructions to create all the required temp

[2021-06-22 12:43] andrzejnovak commented on #347
`hist` should be solving this once https://github.com/scikit-hep/hist/pull/243 gets done

[2021-06-26 08:51] JayjeetAtGithub commented on #516
Fixed by #532. Updating Skyhook to v0.2.0 and using the latest pip helped.

[2021-06-26 08:52] JayjeetAtGithub commented on #473
Fixed by #532 . Trying to boot the osd repeatedly works by doing `ceph-osd || ceph-osd || ceph-osd`.

[2021-06-26 13:45] #516 closed, assigned to nobody

[2021-06-26 17:16] #473 closed, assigned to nobody

[2021-06-30 09:33] maxgalli opened #547 "Regex in fileset"
Hi, I have a rather newbie question.

Let's say I have the following three files:
[code]
that I then feed to ```run_uproot_job``` in the following way:
[code]

Assuming that I don't know the exact number of files, is there a way to do something like the following?
[code]

Similar to what can be done e.g. in [uproot.iterate](https://uproot.readthedocs.io/en/latest/basic.html#iterating-over-many-fil

[2021-07-01 21:24] nsmith- commented on #547
To do this in general would require us to implement a glob-like functionality for xrootd, which (correct me if I'm wrong) is also not available in bare uproot. If you are on a local filesystem it should be enough to do
[code]

[2021-07-02 06:22] maxgalli commented on #547
Right, I didn't notice that for remote files it doesn't exist even in xrootd. Thanks!

[2021-07-02 06:22] #547 closed, assigned to nobody

[2021-07-02 13:44] nsmith- commented on #547
Someday we will have this feature, though! Probably when we make an fsspec-xrootd.. which I've been saying for long enough that I should probably just go do it.

[2021-07-02 14:23] kondratyevd commented on #547
@nsmith- @maxgalli it is possible to get the list of files via xrootd if you know the xrootd server address (e.g. `root://xrootd.rcac.purdue.edu/`) and path to dataset (e.g. `/store/mc/.../.../`). I do it as follows:
[code]

Also, while we're at it, it's possible to get list of files similarly from dataset name as specified in DAS (but it's slower). The only difference in the code above would be t

[2021-07-02 14:33] andrzejnovak commented on #547
@kondratyevd oh that's good to know, I've been using das usually to create my path jsons but it would be nice to have the flexibility of fetching stuff by folder rather then dataset name

[2021-07-06 14:43] danbarto opened #549 "lookup_tools issue with 1D lookup"
**Describe the bug**

When using lookup_tools for 1D histograms I get the following error:
`ValueError: object too deep for desired array`

**To Reproduce**

Take your favorite root file with a 1D histogram (called "histo_eff_data" here), and run the following snippet:
[code]

**Expected behavior**
Return the proper lookup value, similar to 2D lookups.

**Additional context**
The issue seems to co

[2021-07-07 13:28] nsmith- commented on #249
As more dask users are running into this issue, someone has kindly written up some additional discussion in https://github.com/dask/distributed/pull/4874 which can be found in https://distributed.dask.org/en/stable/worker-memory.html#memory-not-released-back-to-the-os

[2021-07-07 14:14] yimuchen commented on #249
I tried all the non-jemalloc suggestions in the distributed doc:

- `export MALLOC_TRIM_THRESHOLD_=1024`
- `export MALLOC_MMAP_THRESHOLD_=1024`
- Adding a manual malloc_trim call at the end of a `run_uproot_job` call.

The memory footprint for all workers still creeps up indefinitely, with the majority of the memory being labelled as unmanaged.

[2021-07-08 14:56] #549 closed, assigned to nobody

[2021-07-09 17:39] yimuchen commented on #249
I did some tests locally with the `iterative_executor`, and I did see a small memory creep over 100 chunks, but it is on the order of 10 MB, not the 1 GB creep we are seeing with `dask_executors`. I'm tentatively concluding that this has something to do with how dask workers are managing/tracking memory, not a direct issue with coffea/awkward.

[2021-07-09 20:02] andrzejnovak commented on #249
@yimuchen are you using casa? If not you could try parsl instead of dask, I've found it to be more resilient

[2021-07-13 10:04] Ming-Yan opened #553 "Uncertainties of the ratio plot (data/MC )"
The denominator(MC) uncertainty is the sumw2 of different MC sample for the `denom_fill_opts`
while the `error_opts` gives smaller  as demonstrated in the image below
![image](https://user-images.githubusercontent.com/20898477/125432214-01ed9353-7db0-4fe6-a9e1-29ee3bb573eb.png)
With the following option
[code]
I am wondering the uncertainty of the denominator  should still be the sumw2 uncertainty

[2021-07-14 20:10] nsmith- commented on #553
I'm not sure I follow, sorry. Is the issue that the size of the errorbar in the ratio plot for the orange and blue points is incorrect? By the way, I guess these are MC/Data then?

[2021-07-15 01:34] yimuchen commented on #249
@andrzejnovak I'm mainly using lpcjobqueue on LPC, so unfortunately that isn't an option.
Ultimately, I found that my hack of using [self-as-first-argument](https://stackoverflow.com/questions/972/adding-a-method-to-an-existing-object-instance/28060251#28060251) to split up the processor into multiple notebook cells was a prime cause of the memory issue. Refactored that part, the memory creep issu

[2021-07-15 05:42] Ming-Yan commented on #553
Yes, this is MC/Data ratio, and the question is why the error bar of orange/blue points are smaller than the gray band/

[2021-08-02 18:41] nsmith- commented on #553
Grey band is calculated entirely from denominator, while error bar on points is numerator, at least when `num` option is requested. You can disable grey band by setting `denom_fill_opts=None` iirc.

[2021-08-03 08:02] Ming-Yan commented on #553
Thanks for the answer, now it's clear to me.

[2021-08-03 08:02] #553 closed, assigned to nobody

[2021-08-17 15:24] cmantill opened #569 "not able to load LumiMask"
**Describe the bug**
Cannot load LumiMask from a textfile.

**To Reproduce**
Steps to reproduce the behavior:
[code]

Error:
[code]
**Expected behavior**
I would expect to be able to load the lumiMask when called as ```lumiMask(events.run, events.luminosityBlock)```.

[2021-08-17 15:33] pfackeldey commented on #569
Hi @cmantill

I've encountered this too (in my understanding the `LumiMask` instance is not pickable),
I am not sure if this is the best solution, but you can do a small wrapper-workaround like:

[code]

and then in your processor:

[code]

Best, Peter

[2021-08-17 20:30] nsmith- commented on #569
Good workaround, but we should probably make `LumiMask` pickleable by defining the appropriate `__getstate__` and `__setstate__` methods. I'll try to do that soon

[2021-08-20 14:43] #569 closed, assigned to nsmith-

[2021-09-08 00:51] ico1036 opened #580 "How do I merge multiple categories as one new category in legend in histogram?"
Hi, I'm making a histogram with different samples.
The information of samples is saved in 'dataset' category
ex) Egamma, SingleMuon, DoubleMuon
[code]

When I process the analysis script and draw the plot, I can see the different category in legends.
But I want to merge the categories as one category.
ex) "Egamma", "SingleMuon", "DoubleMuon" --> "Dataset"

I found this methods when dealing one dat

[2021-09-08 14:48] nsmith- commented on #580
One helper function for this purpose is `Hist.group`: https://coffeateam.github.io/coffea/api/coffea.hist.Hist.html#coffea.hist.Hist.group
For example one can do
[code]

[2021-09-14 22:35] #580 closed, assigned to nobody

[2021-10-06 19:56] kondratyevd opened #594 "List of branches interpreted by the Delphes schema is not universal"
I suspect that the implemented Delphes schema [1] contains not the only, and possibly not the default list of branches. Because of this, some branches may not get fully interpreted (e.g. not inherit `LorentzVector` methods) if the input file has a different structure.

From what I could find, the list of branches implemented in [1] is similar to that here: [2].
However, in some CMS Delphes dataset

[2021-10-06 20:08] lgray commented on #594
As a work around, for now, you can edit this dictionary (and you can make a Plugin in Dask to apply at workers):
https://github.com/CoffeaTeam/coffea/blob/master/coffea/nanoevents/schemas/delphes.py#L16

and add more branch names that it can map to types.

If there are new forms to interpret that'll need a PR, but this should be good enough from what you're showing here.

[2021-10-07 00:56] kratsg commented on #594
As @lgray mentioned, all you need to do is add more to the `mixins`. I tested the solution I had against Delphes samples produced within ATLAS, produced by Delphes by default, and those produced centrally by the Snowmass MC TF -- and this is what was covered so far.

CMS seems to include PUPPI which I don't have a corresponding `ParticleFlowCandidate` behavior for written yet, so I don't know what

[2021-10-26 16:44] oshadura opened #601 "DaskExecutor method doesn't support possibility to use an externally initialized Dask Client"
**Describe the bug**
DaskExecutor() doesn't support possibility to use an externally initialized Dask Client

Within DaskExecutor method Dask Client is initialized internally and we dont have any control on it except of  client_add (see related code https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/servicex/dask_executor.py#L41-L45)
[code]

Ideally what we would like is to be able

[2021-10-26 17:11] lgray commented on #601
This is only for the servicex flavor of the DaskExecutor.

https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/executor.py#L584 lets you pass in a client.

It would be a good idea to figure out how we can merge them!

[2021-10-27 07:08] oshadura commented on #601
@lgray yup, we are testing **Servicex** flavor of Dask executor for AGC Tools workshop and I wanted to report that we were not able to run any complex analysis with dependencies... (cc: @alexander-held )

And I totally agree, it will be nice to understand how to merge them :)

[2021-11-01 08:55] gordonwatts opened #610 "Auto Schema fails when single item has an underscore (grouping of one)"
**Describe the bug**
The auto schema fails to work properly if you try to create a group of one.

**To Reproduce**
The fix [already exists](https://github.com/gordonwatts/coffea/commit/5db9f16ecbfc313224e9e915d4e822154d7c9401), but no partner test yet:

Steps to reproduce the behavior:
See this [example notebook](https://github.com/mat-adamec/servicex-examples/blob/4fcb7407da34cc6a273bce92ecf97064

[2021-11-01 08:55] gordonwatts commented on #610
This should be assigned to me.

[2021-11-02 09:45] oshadura opened #611 "ServiceX DaskExecutor is crasing with `TypeError: Cannot convert OpenFile to pyarrow.lib.NativeFile`"
With coffea 0.7.8 and pyarrow '5.0.0' we still see an issue `TypeError: Cannot convert OpenFile to pyarrow.lib.NativeFile` while executing example analysis from https://github.com/iris-hep/analysis-grand-challenge/tree/main/analyses/atlas-open-data-hzz

[code]

**Additional context**
Issue was thought to be solved by bumping up version of pyarrow (see https://github.com/iris-hep/analysis-grand-cha

[2021-11-02 13:51] gordonwatts commented on #611
Does this work with pyarrow 4.0? Is this a 4.0->5.0 change?

[2021-11-02 13:59] lgray commented on #611
The functionality for fsspec is not there in pyarrow 4.0 - the problem was caused by a downgrade happening from servicex dependencies.
You'll have to adjust your pins.

[2021-11-02 14:29] oshadura commented on #611
Now it is happening with pyarrow 5.0.0 now....
It is easily reproducable at Opendata casa facility @ UNL https://coffea-opendata.casa or ATLAS casa facility @ SSL: https://coffea.af.uchicago.edu running notebook with https://github.com/iris-hep/analysis-grand-challenge/blob/main/analyses/atlas-open-data-hzz/CoffeaHZZAnalysisWithServiceX.ipynb with `executor = DaskExecutor(client_addr="tls://localh

[2021-11-02 16:28] gordonwatts commented on #611
So, it isn't being caused by our pin? Sorry - I'm really confused. I had thought we removed that pin!

[2021-11-02 16:39] oshadura commented on #611
Yes we removed pin, and it helped but now I start to see again problem so maybe source of problem was not indicated properly

[2021-11-02 22:39] gordonwatts commented on #611
Ok - I did a raw install of `coffea[servicex]`, and I get the following - which is pyarrow 6.0:

[code]

So - I remain confused about how 5.0 gets in there.

[2021-11-03 08:03] gordonwatts commented on #611
Hmmm... I just noticed I'm at coffea 0.79, and you said 0.78. Let me see if that makes a difference. No - the `pyarrow` version is still 6.0

[2021-11-03 08:04] gordonwatts commented on #611
The other thing - this is the `dask` executor - can you double check the correct version of `pyarrow` is installed on the `dask` container? Could you do a `pip list` there?

[2021-11-03 19:25] nsmith- commented on #610
Related to this, do you think it would make sense to only add a dimension to the jagged array for the first underscore and none after?

[2021-11-08 12:49] gordonwatts commented on #611
What happened to this bug? I can't repo it when running locally (e.g. not in coffe-casa).

[2021-11-19 15:29] yimuchen opened #618 "Dask executor pickling runner instance multiple times"
**Describe the bug**
When using dask executors, the runner instance is duplicated multiple times in memory, likely due to how the dask client extracts the working function. This is particularly problematic for the runner.metadata_cache, which, if duplicated multiple times, causes severe memory issues.

**To Reproduce**
On any dask_executor initialized runner instance,
[code]
The memory can spike u

[2021-11-19 15:31] lgray commented on #618
@yimuchen can you see if this is fixed by #616 (try using master branch of coffea)

[2021-11-19 22:13] yimuchen commented on #618
Yes, this seems to have fixed it, though a full test will probably need until next week when my queue penalty has gone down. Will confirm next week

[2021-11-22 15:25] yimuchen commented on #618
I've confirmed that this PR fixes the issue that we are running into.

[2021-11-22 15:25] #618 closed, assigned to nobody

[2021-12-10 12:28] lgray opened #625 "Workqueue test failing in CI since 09 Dec 2021"
@btovar Could you please have a look at this? It looks like some configuration interface recently changed.

[2021-12-10 13:07] btovar commented on #625
On it.

[2021-12-10 17:47] btovar commented on #625
@lgray Our tests are working now. I think coffea CI should work now without any changes. (Our changes were pushed to the cctools conda-forge package.)

[2021-12-10 18:02] lgray commented on #625
Looks resolved. Thanks for fixing it up!

[2021-12-10 18:02] #625 closed, assigned to nobody

[2021-12-13 09:54] David-Simonetti-ND opened #628 "A bug was found in resource_mode and resource_monitoring for executor arguments for the work_queue executor"
**Describe the bug**
Adding the resources_mode or resource_monitor arguments into the executor_args dictionary causes the program to crash. When printing out the debug/resource information for a given coffea task, attempting to access self.resources_measured.cores returns an AttributeError: 'NoneType' object has no attribute 'cores'

**To Reproduce**
Add 'resources_mode' : 'auto'  or 'resource_mon

[2022-01-18 11:00] oshadura opened #634 "[Skyhook] In NanoEventsFactory `from_parquet` method: `skyhook_options` doesn't support different cluster pool names"
Trying to run https://github.com/CoffeaTeam/coffea/blob/master/binder/nanoevents_pq.ipynb on coffea-casa AF facility with Skyhook deployment and running next cell:
[code]
we got an invalid syntax error:
[code]
Looks like `skyhook_options` doesn't support different cluster pool names.

cc: @JayjeetAtGithub

[2022-01-18 23:41] #634 closed, assigned to nobody

[2022-02-01 14:12] lgray opened #637 "Skyhook tests fail CI"
@JayjeetAtGithub

Docker build fails as:
[code]

[2022-02-02 04:45] JayjeetAtGithub commented on #637
Let me try to fix this.

[2022-02-02 13:37] #637 closed, assigned to nobody

[2022-02-08 09:13] maxgalli opened #640 "Bug in nanoevents.methods.nanoaod.Photon"
Here is a snippet that describes the problem: it uses a nanoAOD that I have locally but it can be reproduced with any nanoAOD.

[code]

I think the reason why this happens is that ```awkward.zeros_like``` does not have the same behaviour of ```numpy.zeros_like``` when a float is passed:

[code]

Should I maybe open an issue for this in Awkward? The docs say that ```ak.zeros_like``` is the equivale

[2022-02-08 09:28] maxgalli commented on #640
[Related issue](https://github.com/scikit-hep/awkward-1.0/issues/1278) in awkward

[2022-02-08 09:38] agoose77 commented on #640
To answer the question of how to work around this, you can simply move the `.mass` lookup left by at least one slice, i.e.
[code]
or
[code]

[2022-02-15 05:01] lgray opened #641 "Skyhook failing CI again."
@JayjeetAtGithub Please take a look! Thanks!

[2022-02-16 06:45] JayjeetAtGithub commented on #641
Hi @lgray , is this still an issue ?

[2022-02-16 13:58] lgray commented on #641
Yes - https://github.com/CoffeaTeam/coffea/actions/runs/1850231224

[2022-02-16 14:09] lgray commented on #640
Hmm we need to make it a bit more clear what's safe to do with a NanoEvents array. They're almost but not quite the awkward array interface because of all the abstraction in the back.

[2022-02-17 00:52] lgray commented on #641
Seems like it fixed itself....

[2022-02-17 01:21] lgray commented on #641
@JayjeetAtGithub spoke too soon. it has come back up again in today's CI. Same error.

[2022-02-22 04:27] lgray commented on #641
Please fix this. Thank you!

[2022-02-22 19:00] JayjeetAtGithub commented on #641
@lgray , I finally can see the error. Looks like a transient centos repository error. Let me see if something can be done. Sorry for the delay in reply.

[2022-02-23 14:06] lgray commented on #641
@JayjeetAtGithub no worries - thank you for looking into it! It seems to be more often failing than succeeding when it comes to the transient errors.

[2022-03-10 09:58] pfackeldey opened #649 "[Bug] Exception raising `processor_instance.process(events)` fails for custom Exception signatures"
Dear coffea developer,

The following lines fail in case the catched Exception has a custom signature: https://github.com/CoffeaTeam/coffea/blob/master/coffea/processor/executor.py#L1234-L1240

This happened recently to us, where it catched a `DeserializationError` from uproot (see: https://github.com/scikit-hep/uproot4/blob/22407793f9eab02ce73d6843bb3395bedacab50b/src/uproot/deserialization.py#L3

[2022-03-10 11:20] pfackeldey commented on #649
Having a detailed look again into #370 the duplicated error message is not a duplicate. It comes from python's internal concurrent lib, which seem to chain the message once more in order to see full remote tracebacks: https://github.com/python/cpython/blob/3.7/Lib/concurrent/futures/process.py#L121-L138
So this is not a bug that it seems to be a duplicated error, it is standard python concurrent t

[2022-03-10 13:16] nsmith- commented on #649
I wonder if this is related to the issue I've started seeing lately with the new jupyter notebook exception formatter, it seems to die on the messages we produce. (can be seen in the latest `coffea-dask` docker image e.g.)

[2022-03-10 14:29] #649 closed, assigned to nobody

[2022-03-11 11:15] cbernet opened #653 "Installing coffea and dask"
Hello and thanks a lot for your work here ! I think coffea / awkward / dask are the future :-)

I would like to run coffea with dask. I tried to install like this:

[code]

But environment solving takes forever.

Could you please suggest a recipe to install these packages together ?

[2022-03-11 11:22] andrzejnovak commented on #653
@cbernet I think these should all be pip installable as well. If you still want a conda install but faster you can install [mamba](https://mamba.readthedocs.io/en/latest/installation.html), which has a faster solver and use that instead - replacing `conda` with `mamba` in the command you link.

[2022-03-11 13:58] lgray commented on #653
@cbernet `pip install coffea[dask]` from within a fresh conda environment works pretty well.

Otherwise - yeah use mamba (we do for our container builds).

If you'd rather just not install things at all:
[code]
and if you have a .rcfile you like add: `--rcfile /srv/.bashrc` to the end. You can use that container in batch jobs as well.

[2022-03-11 15:16] cbernet commented on #653
Hello and thanks @andrzejnovak @lgray. I was able to install.

If I may request a bit more help, could you please let me know where to find the documentation showing how to use the dask executor with a coffea processor ?

Btw I'm using dask on a slurm cluster, with dask-jobqueue. I create my cluster like this:

[code]

[2022-03-11 15:21] lgray commented on #653
@cbernet That's a bit cluster specific but the simplest example that also uses a condor cluster (the LPC in this case) is here:
https://github.com/CoffeaTeam/lpcjobqueue/blob/main/simple_example.py

All you should need to do is replace the LPCCondorCluster with the SLURMCluster you've posted (assuming consistency of environment at the workers, etc).

[2022-03-11 15:22] lgray commented on #653
Also - the list of files it is processing is here: https://github.com/CoffeaTeam/lpcjobqueue/blob/main/fileset.json

[2022-03-11 15:24] #641 closed, assigned to nobody

[2022-03-11 15:28] lgray commented on #653
Oh - a not so minor detail - you should use `cores=1` or `cores=2` in your cluster definition. uproot/awkward do not multithread in python very well (past two threads) so every task needs to stick in its own process.

[2022-03-11 20:47] cbernet commented on #653
Thank you very much ! it's running. cheers

[2022-03-11 20:47] #653 closed, assigned to nobody

[2022-03-11 23:02] lgray commented on #653
@cbernet if you need help with anything else just ask. We have a mattermost channel in LPCPhysDiscuss.

[2022-03-29 06:48] #347 closed, assigned to nobody

[2022-03-29 06:51] #323 closed, assigned to nobody

[2022-03-29 06:51] #434 closed, assigned to nobody

[2022-03-29 06:55] andrzejnovak commented on #601
Fixed in #602

[2022-03-29 06:55] #601 closed, assigned to nobody

[2022-03-31 21:04] lgray opened #655 "Tracking issue for common tasks in awkward we've put in functions in coffea."
Here's one example from the recent systematics PR. We should find more snippets like this and collect them for a PR to awkward itself so that we don't worry about its details so much.

[code]

@nsmith- @jpivarski

[2022-03-31 21:21] jpivarski commented on #655
That would be this: scikit-hep/awkward-1.0#516, and yeah, it's high time we did that.

The v1 `recursively_apply` and `broadcast_and_apply` interfaces are weird because they were developed as we went along. They were made more consistent with themselves and with each other in v2. It would be really, really, really nice to only expose the v2 interface before this becomes public.

[2022-04-10 01:34] lgray opened #658 "WorkQueue CI fails"
@btovar
https://github.com/CoffeaTeam/coffea/runs/5958216863?check_suite_focus=true

[2022-04-11 11:25] btovar commented on #658
Should be fixed now.

[2022-04-11 16:25] kreczko opened #659 "Multi-tree support"
Following up on the discussion in the CMS Analysis Tools Task Force Monday Open Meeting

**Is your feature request related to a problem? Please describe.**
I am trying to process multiple TTree inputs at once using coffea

**Describe the solution you'd like**
I've been tracing `treeName` through the coffea code, and it seems there is no simple way to allow for multiple trees.
I would like to
- `co

[2022-04-16 16:20] alexander-held opened #661 "Object shape and values changing with nanoevents weight systematics"
**Describe the bug**
When applying a weight systematic variation via the new feature added in #529, shape and values of objects accessed through this systematic change. I would expect them to exactly match the nominal case.

**To Reproduce**
This is based on the [systematics notebook](https://github.com/CoffeaTeam/coffea/blob/3269f5481c7e70289a55911bc11d821734e09312/binder/systematics.ipynb) and u

[2022-04-19 20:46] alexander-held opened #662 "Surprising behavior of metadata caching in subsequent "fresh" runs"
**Describe what you want to do**
During debugging, I was changing the list of files I wanted to process, as well as associated metadata. I then noticed that the list of files updated fine, while metadata did not. Is this pattern intended?

[code]
This script is doing the exact same thing twice, with only the `metadata` in the `fileset` changing. Output:
[code]
The metadata arriving in the processo

[2022-04-20 14:52] nsmith- commented on #628
@btovar FYI

[2022-04-20 14:57] btovar commented on #628
On it...

[2022-04-20 15:23] nsmith- commented on #662
The original purpose of the metadata cache was to not have to re-scan the file list to determine the number of events and cluster boundaries of the files, under the assumption that input files are immutable. It should not have been saving also the user-supplied metadata. So I'm inclined to call this a bug. It looks like we could change
https://github.com/CoffeaTeam/coffea/blob/3269f5481c7e70289a55

[2022-04-20 17:06] btovar commented on #628
Not a coffea bug. (@nsmith-  could you close this issue?)

[2022-04-20 17:14] #628 closed, assigned to nobody

[2022-04-20 18:07] #640 closed, assigned to nobody

[2022-04-20 19:28] alexander-held opened #664 "`auto_schema` with ServiceX processor does not work for non-jagged data with underlines in names"
**Describe the bug**
The automatic schema used with ServiceX groups together objects like `jet_e`, `jet_pt` etc., and that works fine as long as they have a jagged structure. Non-jagged variables, like `met_e`, break the schema.

**To Reproduce**
Feed a flat column to a processor via ServiceX and give the column a name involving `_`.

**Expected behavior**
`met_e`, `met_pt` and similar variables g

[2022-04-20 19:29] alexander-held commented on #664
Sorry for the rather brief description, I can get back to this in a few days with a full reproducer in case the setup is not clear.

[2022-04-21 07:15] oshadura commented on #611
Small reproducer from @BenGalewsky, where it looks like the file is opened as a local file instead of a link (when it is opened from minio) :
[code]

[2022-04-24 11:40] alexander-held opened #665 "ServiceX `auto_schema` and similar column names"
**Describe the bug**
I have not understood this fully. I have a setup where I compare a calculation with a pure coffea processor to a ServiceX processor, which receives data through a func_adl query. I am cutting on `jet.pt`. When a column with name `jet_pt_uncorr` is fed into the processor in addition, it seems to interfere with the `jet.pt` cut. I am not sure what ends up happening to that colum

[2022-04-26 16:51] sthapa opened #666 "Error propagation going wrong somewhere"
**Describe the bug**
Alex Held ran into a bug where error messages aren't being properly propagated.  He queried for a non-existent column but got an error message that was not helpful.

He got
[code]
.  Looking at the local log files, the actual error was:
[code]

It looks like the uri reference in the file gets truncated to the first character (in other instances he got f as the file name, presu

[2022-04-27 12:42] alexander-held commented on #666
Notebook: https://gist.github.com/alexander-held/d7ba904816a77d4dbb51c8eca41004bd

I didn't carefully track my environment setup, but I've seen this issue with the single-letter error appear and disappear a few times when testing in various different setups. I can currently reproduce it locally with Python 3.9.12,
[code]
and running against https://uproot-atlas.servicex.af.uchicago.edu/. I'm not 1

[2022-04-27 13:23] alexander-held opened #667 "Weight-based systematic variations depending on object kinematics attached to events"
**Describe the bug**
When trying to attach weight-based systematics depending on object kinematics to the event level, I see identical weights for all events. I'm unsure whether this is a bug in my implementation or in `coffea`.

**To Reproduce**
This is using [`nano_dy.root`](https://github.com/CoffeaTeam/coffea/blob/0c787c9bf5a860249665a76cddab1767f7f10e8f/tests/samples/nano_dy.root). Attaching

[2022-04-27 14:37] alexander-held commented on #666
I managed to reproduce this without `coffea` as well, this may be an issue in ServiceX itself: https://github.com/ssl-hep/ServiceX/issues/408.

[2022-04-28 22:22] andrzejnovak opened #668 "`skipbadfiles` ignored with run_uproot_job and dask_executor"
`skipbadfiles` doesn't get correctly parsed with run_uproot_job (and dask_executor), but works fine using the newer `Runner` API.

The issue is for reference purposes, while `run_uproot_job` is available, but I am leaning towards a won't fix since the API will get deprecated.

[2022-05-05 17:05] kkrizka opened #669 "Increasing Memory Usage With Each `processor.ProcessorABC.process`"
I noticed that my coffea processor consumes increasingly large amounts of memory when running over a large dataset. The input is a simple TTree (all branches are basic types). The memory consumption of the python process is *steadily increasing* with each iteration of `processor.ProcessorABC.process` until it is fully filled up. Naively, I would think that any memory allocated for a call (ie: all

[2022-05-14 01:11] nsmith- commented on #669
This is a very thorough bug report, so thanks very much for that! I'm unfortunately unable to reproduce the problem on my machine with your demo. Rather, I see a relatively constant 100MB of rsize as the program runs, and tracemalloc only sees 30ish of that (probably the rest is the python shared libraries):
[code]
Are you able to reproduce this on, e.g. lxplus or cmslpc machine? Then I might be a

[2022-05-16 16:45] lauridsj opened #674 "Wrong sign in ThreeVector/LorentzVector subtraction"
When using the vector mixins for Awkward Arrays, subtracting a LorentzVector from a ThreeVector gives the wrong sign in the result.

Minimal example:
[code]
Converting the LorentzVector into a ThreeVector explicitly fixes it:
[code]
The issue happens in the same way for RecordArrays of ThreeVectors / LorentzVectors. Notably, the other direction - subtracting a ThreeVector from a LorentzVector - is

[2022-05-18 14:37] alexander-held opened #675 "Possibility of skipping pre-processing"
**Is your feature request related to a problem? Please describe.**
As far as I understand, the pre-processing stage distributes the available events in all input files into units of work. In cases where the number of input files is very large, pre-processing can take a non-negligible amount of time. Particularly for cases where the number of events per file is roughly constant, and every individua

[2022-05-19 19:14] nsmith- commented on #674
Thanks for the bug report!
Indeed it looks like the subtract mixins (e.g. https://github.com/CoffeaTeam/coffea/blob/master/coffea/nanoevents/methods/vector.py#L151) do not disable auto-generation of transposed signature (`transpose=True` by default in https://awkward-array.readthedocs.io/en/latest/_auto/ak.mixin_class_method.html#ak.mixin_class_method)
We should set `transpose=False` for these so

[2022-05-20 15:10] alexander-held commented on #659
There is also a fairly common workflow in ATLAS which involves dedicated trees for systematic variations. Multi-tree support would come in handy there too.

[2022-05-20 15:24] patrickbryant opened #676 "Combining friend trees in run_uproot_job?"
I would like to be able to open friend trees in run_uproot_job. I am able to include information from fiend trees when calling my processor on an events array:
[code]

Essentially I have the output from my own PyTorch classifiers stored in separate root files with their own event trees. I also have a basic little schema I wrote which makes reading these trees convenient.

I haven't found a way to

[2022-05-20 16:41] lgray commented on #676
Hey! Thanks for the question! We intend to add a stable API for this in coffea 0.8, which will happen within the calendar year.

Right now there is no API for this but is is ~possible from within a processor to do this assuming you have a suitable naming scheme for pairing up your files, and reasonably static file locations for your additional inputs.

You can access the file and chunk being proce

[2022-05-23 14:45] patrickbryant commented on #676
Hmm I'm not sure how to use the uuid to reconstruct the file path. I thought maybe I could do something with the metadata dictionary, it would be nice if run_uproot_job added the input file path to the metadata dict.

[2022-05-23 14:50] patrickbryant commented on #676
When I print the events.behavior["__events_factory__"]._partition_key it outputs:
[code]
Is this first part the file path uuid and the second part the ttree path or something?
My friend tree files are in the same directory as the main events tree and have the same tree name.

[2022-05-23 15:01] patrickbryant commented on #676
Ah I guess it does?
https://github.com/CoffeaTeam/coffea/blob/f3da7d8ee21c5916c89395a3cf4348a2c6ce8c17/coffea/processor/executor.py#L1482

Any reason I can't just use this info to grab the friend trees?

[2022-05-23 15:24] lgray commented on #676
Ah - yes - my fault there since I was taking the example from someone trying to do skimming.
You'll need to use the metadata to get the filename of the input since you need that.

The UUID + chunk range in the `_partition_key` allows you to make consistent/reusable output file names.

In your case you need the chunk range and the input file name / location. You can take that all from the metadata

[2022-05-23 15:49] patrickbryant commented on #676
Ok great thanks.
Here's my solution:
[code]

When I was running the processor myself I was adding information to the metadata like:
[code]

I've moved these to attributes of my processor which I can specify when I make the processor_instance for run_uproot_job:
[code]

I also find it useful to normalize the samples properly at run time rather than when plotting using the Runs TTree which has genEv

[2022-05-23 16:09] andrzejnovak commented on #676
@patrickbryant you can in principle, but I would recommend storing "raw" output and scaling them after, easier to correct things later without rerunning

[2022-05-23 16:19] lgray commented on #676
@patrickbryant you can set metadata per dataset from the fileset that you build! You can do something like:
[code]

i.e. you can have dictionaries additional annotations as part of your fileset!